<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Advertising_0_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,541},{440,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,110}}</string>
                <key>sourceSize</key>
                <string>{440,110}</string>
            </dict>
            <key>action_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,829},{530,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,86}}</string>
                <key>sourceSize</key>
                <string>{530,86}</string>
            </dict>
            <key>all_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,213},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>baccarat_tag_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,291},{153,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,40}}</string>
                <key>sourceSize</key>
                <string>{153,40}</string>
            </dict>
            <key>baccarat_tag_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,333},{153,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,40}}</string>
                <key>sourceSize</key>
                <string>{153,40}</string>
            </dict>
            <key>baccarat_tag_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,291},{153,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,40}}</string>
                <key>sourceSize</key>
                <string>{153,40}</string>
            </dict>
            <key>bank_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,867},{336,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,144}}</string>
                <key>sourceSize</key>
                <string>{336,144}</string>
            </dict>
            <key>bank_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,704},{151,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,161}}</string>
                <key>sourceSize</key>
                <string>{151,161}</string>
            </dict>
            <key>bank_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,541},{151,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,161}}</string>
                <key>sourceSize</key>
                <string>{151,161}</string>
            </dict>
            <key>bank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,145},{136,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,36}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>bonus_card_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,167},{252,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,164}}</string>
                <key>sourceSize</key>
                <string>{252,164}</string>
            </dict>
            <key>bonus_card_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1},{252,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,164}}</string>
                <key>sourceSize</key>
                <string>{252,164}</string>
            </dict>
            <key>bonus_today.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,917},{160,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,24}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>btn_action_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,213},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>btn_action_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,213},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>btn_auto_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,917},{72,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
            <key>btn_call_any.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,917},{72,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
            <key>btn_call_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,207},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_check_discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,917},{72,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
            <key>btn_check_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,247},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_confirm_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,139},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_discard_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,183},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_fill_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,183},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_game_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,525},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>btn_game_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,943},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>btn_hold.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,183},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_option_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,943},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>btn_option_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,944},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>btn_reday.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,183},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>bug_feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,375},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>bug_feedback_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,847},{200,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,95}}</string>
                <key>sourceSize</key>
                <string>{200,95}</string>
            </dict>
            <key>bug_feedback_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,750},{200,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,95}}</string>
                <key>sourceSize</key>
                <string>{200,95}</string>
            </dict>
            <key>chips_carry.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,145},{136,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,36}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>edit_info_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,472},{137,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,51}}</string>
                <key>sourceSize</key>
                <string>{137,51}</string>
            </dict>
            <key>edit_info_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,472},{137,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,51}}</string>
                <key>sourceSize</key>
                <string>{137,51}</string>
            </dict>
            <key>entry_fee_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,139},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>event_state_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,99},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>event_state_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,135},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>event_state_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,85},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>event_state_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,53},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>event_title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,65},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>event_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,53},{156,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,32}}</string>
                <key>sourceSize</key>
                <string>{156,32}</string>
            </dict>
            <key>event_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1},{100,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,32}}</string>
                <key>sourceSize</key>
                <string>{100,32}</string>
            </dict>
            <key>evn_setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,451},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>evn_setup_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,653},{200,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,95}}</string>
                <key>sourceSize</key>
                <string>{200,95}</string>
            </dict>
            <key>evn_setup_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,847},{200,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,95}}</string>
                <key>sourceSize</key>
                <string>{200,95}</string>
            </dict>
            <key>exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1},{168,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,50}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>exchange_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,375},{252,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,164}}</string>
                <key>sourceSize</key>
                <string>{252,164}</string>
            </dict>
            <key>exchange_col_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,173},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>exchange_col_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,213},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>exchange_col_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,149},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>exchange_col_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,139},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>exchange_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,472},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>exchange_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,472},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>exchange_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,472},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>fast_Match.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,33},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>fast_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>free_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,333},{168,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,40}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>free_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,105},{212,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,32}}</string>
                <key>sourceSize</key>
                <string>{212,32}</string>
            </dict>
            <key>game_back_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,944},{114,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,79}}</string>
                <key>sourceSize</key>
                <string>{114,79}</string>
            </dict>
            <key>game_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,944},{114,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,79}}</string>
                <key>sourceSize</key>
                <string>{114,79}</string>
            </dict>
            <key>game_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,603},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>game_help_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,750},{200,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,95}}</string>
                <key>sourceSize</key>
                <string>{200,95}</string>
            </dict>
            <key>game_help_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,653},{200,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,95}}</string>
                <key>sourceSize</key>
                <string>{200,95}</string>
            </dict>
            <key>get_chips_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,188},{175,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,185}}</string>
                <key>sourceSize</key>
                <string>{175,185}</string>
            </dict>
            <key>get_chips_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{175,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,185}}</string>
                <key>sourceSize</key>
                <string>{175,185}</string>
            </dict>
            <key>help_game_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,65},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>help_rule_decl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,35},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>keno_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,53},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>logo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1},{340,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,50}}</string>
                <key>sourceSize</key>
                <string>{340,50}</string>
            </dict>
            <key>max_chips_carry.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,183},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,291},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,333},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>menu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,291},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>menu_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,333},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>mini_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,741},{530,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,86}}</string>
                <key>sourceSize</key>
                <string>{530,86}</string>
            </dict>
            <key>object_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,333},{200,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>option_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,653},{530,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,86}}</string>
                <key>sourceSize</key>
                <string>{530,86}</string>
            </dict>
            <key>player_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,603},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>player_info_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,375},{200,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,95}}</string>
                <key>sourceSize</key>
                <string>{200,95}</string>
            </dict>
            <key>player_info_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,375},{200,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,95}}</string>
                <key>sourceSize</key>
                <string>{200,95}</string>
            </dict>
            <key>rich_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1},{580,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,70}}</string>
                <key>sourceSize</key>
                <string>{580,70}</string>
            </dict>
            <key>rich_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,53},{168,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,50}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>room_type_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,169},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>room_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,185},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>room_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,185},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>room_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,57},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>room_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,29},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>room_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>seat_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,943},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>seat_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,943},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shop_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,83},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>shop_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,917},{60,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,24}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
            <key>shop_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,103},{148,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,40}}</string>
                <key>sourceSize</key>
                <string>{148,40}</string>
            </dict>
            <key>slot_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,917},{116,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,24}}</string>
                <key>sourceSize</key>
                <string>{116,24}</string>
            </dict>
            <key>table_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,375},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>task_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1},{168,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,50}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,259},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>text_silence.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,53},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
            <key>text_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,259},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text_0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc8c729539f6576a56bc953c8e1b52f0$</string>
            <key>textureFileName</key>
            <string>text_0.png</string>
        </dict>
    </dict>
</plist>
