<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>all_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,350},{101,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{101,35}</string>
            </dict>
            <key>back_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,349},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,353},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>bank_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,335},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,335},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,335},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,335},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,487},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,487},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,487},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,487},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,487},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,487},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,488},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,505},{74,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,6}}</string>
                <key>sourceSize</key>
                <string>{74,6}</string>
            </dict>
            <key>bar_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,503},{73,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,6}}</string>
                <key>sourceSize</key>
                <string>{73,6}</string>
            </dict>
            <key>bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,284}}</string>
                <key>sourceSize</key>
                <string>{180,284}</string>
            </dict>
            <key>bg_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,287},{180,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,99}}</string>
                <key>sourceSize</key>
                <string>{180,99}</string>
            </dict>
            <key>bg_on_.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,488},{43,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,22}}</string>
                <key>sourceSize</key>
                <string>{43,22}</string>
            </dict>
            <key>bg_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{180,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,250}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>board_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,351},{47,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,34}}</string>
                <key>sourceSize</key>
                <string>{47,34}</string>
            </dict>
            <key>board_chips_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,488},{48,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,15}}</string>
                <key>sourceSize</key>
                <string>{48,15}</string>
            </dict>
            <key>board_chips_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,335},{41,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,13}}</string>
                <key>sourceSize</key>
                <string>{41,13}</string>
            </dict>
            <key>check_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,488},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>check_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,488},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>check_s_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,487},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>check_s_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,487},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,29},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>chips_area.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1},{85,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,29}}</string>
                <key>sourceSize</key>
                <string>{85,29}</string>
            </dict>
            <key>dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,488},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>event_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,59},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>event_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>event_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>free_chips_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>free_chips_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,456},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>gold_area.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1},{93,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,26}}</string>
                <key>sourceSize</key>
                <string>{93,26}</string>
            </dict>
            <key>handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,488},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>head_area.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,382},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>head_area_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,387},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>hot_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>medal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,59},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,66},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,34},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>ms.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,488},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,488},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>object_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,353},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>object_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,353},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>object_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,353},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>object_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,353},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>option_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,253},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>option_title_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,29},{92,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,41}}</string>
                <key>sourceSize</key>
                <string>{92,41}</string>
            </dict>
            <key>room_0_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,387},{143,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,98}}</string>
                <key>sourceSize</key>
                <string>{143,98}</string>
            </dict>
            <key>room_0_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,253},{143,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,98}}</string>
                <key>sourceSize</key>
                <string>{143,98}</string>
            </dict>
            <key>room_1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,388},{143,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,98}}</string>
                <key>sourceSize</key>
                <string>{143,98}</string>
            </dict>
            <key>room_1_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,388},{143,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,98}}</string>
                <key>sourceSize</key>
                <string>{143,98}</string>
            </dict>
            <key>scroll_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,506},{6,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,3}}</string>
                <key>sourceSize</key>
                <string>{6,3}</string>
            </dict>
            <key>scroll_bean_ext.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,510},{6,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,1}}</string>
                <key>sourceSize</key>
                <string>{6,1}</string>
            </dict>
            <key>sex_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,488},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>sex_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,488},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>slot_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,335},{74,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,12}}</string>
                <key>sourceSize</key>
                <string>{74,12}</string>
            </dict>
            <key>slot_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,32},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>tab_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,461},{116,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,44}}</string>
                <key>sourceSize</key>
                <string>{116,44}</string>
            </dict>
            <key>text_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,500},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>text_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,500},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>vip_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,488},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>vip_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,503},{18,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,8}}</string>
                <key>sourceSize</key>
                <string>{18,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e139072527b8179f3fe02b1973e9ba1f$</string>
            <key>textureFileName</key>
            <string>ui_0.png</string>
        </dict>
    </dict>
</plist>
