<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Advertising_0_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,107},{220,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,56}}</string>
                <key>sourceSize</key>
                <string>{220,56}</string>
            </dict>
            <key>Advertising_0_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,49},{220,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,56}}</string>
                <key>sourceSize</key>
                <string>{220,56}</string>
            </dict>
            <key>bacc_all_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,417},{48,18}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{70,18}</string>
            </dict>
            <key>bacc_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,155},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>bacc_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,371},{36,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{36,18}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>bacc_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,493},{64,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,18}}</string>
                <key>sourceSize</key>
                <string>{70,18}</string>
            </dict>
            <key>bacc_pays8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{42,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{42,16}}</string>
                <key>sourceSize</key>
                <string>{68,18}</string>
            </dict>
            <key>bacc_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,95},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>bacc_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,467},{36,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{36,18}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>bacc_tie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,357},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>bacc_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{236,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,46}}</string>
                <key>sourceSize</key>
                <string>{236,48}</string>
            </dict>
            <key>free_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1},{92,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{92,16}}</string>
                <key>sourceSize</key>
                <string>{106,16}</string>
            </dict>
            <key>game_logo_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,165},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>keno_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,251},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>keno_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,213},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>keno_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,417},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{32,16}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>keno_issue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,417},{76,16}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{76,16}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>keno_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,165},{78,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,18}}</string>
                <key>sourceSize</key>
                <string>{78,18}</string>
            </dict>
            <key>mini_baccarat_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,165},{98,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>mini_baccarat_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{98,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>mini_buy_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,289},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nini_lotto_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,323},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>nini_lotto_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,293},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>nini_slots_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,283},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>nini_slots_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,229},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>slot_bet_line_spot.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,371},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>slot_chips_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,347},{64,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,22}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
            <key>slot_odds.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,417},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>slot_win_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,245},{64,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,22}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text_mini.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10a51a2217efff5346e569d7b1b64460$</string>
            <key>textureFileName</key>
            <string>text_mini.png</string>
        </dict>
    </dict>
</plist>
