<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>all_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,117},{106,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>back_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,161},{28,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{28,24}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,87},{28,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{28,24}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>bank_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,159},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,145},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,159},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,145},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,159},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,159},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,145},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,87},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,159},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,145},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>bank_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,491},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,287},{74,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,6}}</string>
                <key>sourceSize</key>
                <string>{74,6}</string>
            </dict>
            <key>bar_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,87},{74,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,6}}</string>
                <key>sourceSize</key>
                <string>{74,6}</string>
            </dict>
            <key>bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,284}}</string>
                <key>sourceSize</key>
                <string>{180,284}</string>
            </dict>
            <key>bg_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,187},{180,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,98}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>bg_on_.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,469},{42,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>bg_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,287},{180,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,246}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>board_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,87},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>board_chips_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,13},{48,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,14}}</string>
                <key>sourceSize</key>
                <string>{48,14}</string>
            </dict>
            <key>board_chips_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,469},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>check_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,363},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>check_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,159},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>check_s_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,63},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>check_s_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,347},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1},{32,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>chips_area.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,301},{84,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,28}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,319},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>event_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,59},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>event_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>event_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,87},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>free_chips_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,469},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>free_chips_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,469},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,161},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gold_area.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,301},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,491},{38,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,18}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>head_area.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,87},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>head_area_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,13},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>hot_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,33},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>medal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,363},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,163},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,445},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>ms.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,301},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,387},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>object_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,491},{18,20}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{18,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>object_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,159},{24,26}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{24,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>object_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,491},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{30,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>object_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,469},{30,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{30,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>option_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,387},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>option_title_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,59},{126,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,30}}</string>
                <key>sourceSize</key>
                <string>{126,30}</string>
            </dict>
            <key>room_0_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,273},{144,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,84}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>room_0_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,187},{144,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,84}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>room_1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1},{144,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,84}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>room_1_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,359},{144,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,84}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>scroll_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1},{6,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,3}}</string>
                <key>sourceSize</key>
                <string>{6,3}</string>
            </dict>
            <key>scroll_bean_ext.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,409},{6,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,1}}</string>
                <key>sourceSize</key>
                <string>{6,1}</string>
            </dict>
            <key>sex_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,501},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>sex_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,159},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>slot_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,287},{74,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,12}}</string>
                <key>sourceSize</key>
                <string>{74,12}</string>
            </dict>
            <key>slot_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,287},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>tab_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,445},{116,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,44}}</string>
                <key>sourceSize</key>
                <string>{116,44}</string>
            </dict>
            <key>text_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>text_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,501},{6,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{6,4}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>vip_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,159},{26,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,12}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>vip_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,337},{16,8}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{18,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8116665717956aaee17900e9fddaa49$</string>
            <key>textureFileName</key>
            <string>ui_0.png</string>
        </dict>
    </dict>
</plist>
