<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,393},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>-.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,163},{22,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,6}}</string>
                <key>sourceSize</key>
                <string>{22,6}</string>
            </dict>
            <key>Categories_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,327},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>Categories_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>Categories_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,317},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>Categories_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,251},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>Categories_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>Categories_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>Categories_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,355},{92,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>Categories_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>Categories_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,61},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>Categories_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,365},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>bet_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{32,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,172}}</string>
                <key>sourceSize</key>
                <string>{32,172}</string>
            </dict>
            <key>bet_slider_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,35},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>bet_slider_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,61},{8,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,108}}</string>
                <key>sourceSize</key>
                <string>{8,108}</string>
            </dict>
            <key>btn_shop_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,157},{50,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>btn_shop_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,209},{50,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>cd_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,163},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>cyc_btn2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,345},{54,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>cyc_btn2_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,393},{54,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>cyc_btn_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,449},{54,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>cyc_btn_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,457},{54,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>cyc_btn_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,457},{54,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>cyc_btn_s_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,457},{54,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>cyc_btn_s_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,401},{54,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>drink_frame_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>drink_frame_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,79},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>menu_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,105},{118,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,30}}</string>
                <key>sourceSize</key>
                <string>{118,30}</string>
            </dict>
            <key>menu_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,71},{124,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,32}}</string>
                <key>sourceSize</key>
                <string>{124,32}</string>
            </dict>
            <key>menu_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,35},{124,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,34}}</string>
                <key>sourceSize</key>
                <string>{124,34}</string>
            </dict>
            <key>opponent_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,253},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{82,62}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>player_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,261},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{82,62}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:358237a5e8f617142e9dda2dae62a45d$</string>
            <key>textureFileName</key>
            <string>ui_2.png</string>
        </dict>
    </dict>
</plist>
