<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drink_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{70,80}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,151},{54,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1},{80,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,79},{80,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,207},{54,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,287},{40,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{40,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,147},{66,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,255},{30,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{30,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,309},{76,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,151},{80,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{76,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1},{76,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{50,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,385},{48,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{48,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,261},{66,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{66,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,263},{44,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{44,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,215},{44,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{44,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,77},{72,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,329},{56,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{56,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>drink_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,215},{38,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{38,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drink.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da8b80ee5925c1c4c65da575b9d01c78$</string>
            <key>textureFileName</key>
            <string>drink.png</string>
        </dict>
    </dict>
</plist>
