<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Baccarat_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1},{134,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,100}}</string>
                <key>sourceSize</key>
                <string>{134,100}</string>
            </dict>
            <key>Baccarat_help_bottom_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,307},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Baccarat_help_bottom_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,233},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bacc_10000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,445},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_10000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,389},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_10000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,295},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_1000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,475},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_1000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,475},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_1000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,641},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_100_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,741},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_100_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,905},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_100_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,807},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_10_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,543},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_10_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,653},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_10_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,631},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_50000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,295},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_50000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,299},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_50000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,479},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_5000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,543},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_5000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,385},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_5000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,385},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_500_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,719},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_500_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,657},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_500_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,653},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_50_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,569},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_50_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,565},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_50_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,565},{86,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_area_1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,483},{266,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,176}}</string>
                <key>sourceSize</key>
                <string>{266,176}</string>
            </dict>
            <key>bacc_area_1_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,797},{266,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,176}}</string>
                <key>sourceSize</key>
                <string>{266,176}</string>
            </dict>
            <key>bacc_area_2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1},{266,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,108}}</string>
                <key>sourceSize</key>
                <string>{266,108}</string>
            </dict>
            <key>bacc_area_2_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,751},{266,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,108}}</string>
                <key>sourceSize</key>
                <string>{266,108}</string>
            </dict>
            <key>bacc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>bacc_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1013},{80,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,1}}</string>
                <key>sourceSize</key>
                <string>{80,1}</string>
            </dict>
            <key>bacc_chips_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,797},{184,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{184,50}}</string>
                <key>sourceSize</key>
                <string>{184,52}</string>
            </dict>
            <key>bacc_colon.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,983},{18,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,38}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>bacc_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1016},{1,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,50}}</string>
                <key>sourceSize</key>
                <string>{1,50}</string>
            </dict>
            <key>bacc_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,483},{276,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,118}}</string>
                <key>sourceSize</key>
                <string>{276,118}</string>
            </dict>
            <key>keno_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,975},{22,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1005},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,975},{20,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1005},{18,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,975},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1005},{18,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,975},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,975},{20,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,975},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,975},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,975},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,483},{298,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{298,22}}</string>
                <key>sourceSize</key>
                <string>{298,24}</string>
            </dict>
            <key>keno_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,983},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>keno_bet_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,147},{140,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,64}}</string>
                <key>sourceSize</key>
                <string>{140,64}</string>
            </dict>
            <key>keno_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1},{144,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,148}}</string>
                <key>sourceSize</key>
                <string>{144,148}</string>
            </dict>
            <key>keno_btn_bet_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1},{90,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>keno_btn_bet_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,93},{90,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>keno_btn_bet_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,303},{90,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>keno_btn_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,203},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,203},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_n_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,207},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_n_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,111},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_p_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,111},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_p_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,331},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_p_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,233},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_s_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,239},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>keno_btn_s_n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,175},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>keno_btn_s_n_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,111},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>keno_btn_s_p_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,169},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>keno_btn_s_p_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,381},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>keno_cycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,103},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>keno_global_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,341},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,106}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>keno_global_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,233},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,106}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>keno_global_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,103},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,106}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>keno_hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1005},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>keno_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,975},{64,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{64,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>keno_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,483},{312,194}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{312,194}}</string>
                <key>sourceSize</key>
                <string>{314,196}</string>
            </dict>
            <key>slot_jp_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,797},{214,110}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{214,110}}</string>
                <key>sourceSize</key>
                <string>{228,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>keno.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bf894b3c731e1e94883e58184b66845$</string>
            <key>textureFileName</key>
            <string>keno.png</string>
        </dict>
    </dict>
</plist>
