<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>curtain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,345},{360,286}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,286}}</string>
                <key>sourceSize</key>
                <string>{360,292}</string>
            </dict>
            <key>slot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,453},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>slot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,477},{26,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>slot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,431},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>slot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,407},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>slot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,385},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>slot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,361},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>slot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,611},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>slot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,611},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>slot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,611},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>slot_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,611},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>slot_bet_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,35},{1,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1,14}}</string>
                <key>sourceSize</key>
                <string>{1,16}</string>
            </dict>
            <key>slot_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,423},{320,232}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{320,232}}</string>
                <key>sourceSize</key>
                <string>{320,236}</string>
            </dict>
            <key>slot_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{360,342}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{360,342}}</string>
                <key>sourceSize</key>
                <string>{360,344}</string>
            </dict>
            <key>slot_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1},{255,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,420}}</string>
                <key>sourceSize</key>
                <string>{255,420}</string>
            </dict>
            <key>slot_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,633},{360,196}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{360,196}}</string>
                <key>sourceSize</key>
                <string>{360,218}</string>
            </dict>
            <key>slot_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,973},{184,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{184,50}}</string>
                <key>sourceSize</key>
                <string>{184,52}</string>
            </dict>
            <key>slot_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,707},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,54}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>slot_jp_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,657},{456,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,140}}</string>
                <key>sourceSize</key>
                <string>{456,140}</string>
            </dict>
            <key>slot_jp_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,831},{456,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,140}}</string>
                <key>sourceSize</key>
                <string>{456,140}</string>
            </dict>
            <key>slot_light_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1013},{138,4}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{138,4}}</string>
                <key>sourceSize</key>
                <string>{164,84}</string>
            </dict>
            <key>slot_light_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,211},{164,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,82}}</string>
                <key>sourceSize</key>
                <string>{164,84}</string>
            </dict>
            <key>slot_odds_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,933},{144,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{144,54}}</string>
                <key>sourceSize</key>
                <string>{148,56}</string>
            </dict>
            <key>slot_poll.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,217},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,90}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>slot_poll_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1},{38,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,170}}</string>
                <key>sourceSize</key>
                <string>{40,172}</string>
            </dict>
            <key>slot_shadow_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,315},{144,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,102}}</string>
                <key>sourceSize</key>
                <string>{148,102}</string>
            </dict>
            <key>slot_shadow_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,211},{146,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,102}}</string>
                <key>sourceSize</key>
                <string>{148,102}</string>
            </dict>
            <key>slot_win_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,645},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{86,60}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>slots_arrows_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,295},{30,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>slots_arrows_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,799},{30,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>slots_button_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,541},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>slots_button_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,315},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>slots_item_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,919},{126,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{126,82}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>slots_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,799},{108,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{108,118}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>slots_item_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,611},{110,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{110,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>slots_item_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,973},{134,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,42},{134,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>slots_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,799},{108,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{108,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>slots_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,733},{108,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{108,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>slots_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,819},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{116,112}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>slots_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,523},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{90,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>slots_item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,419},{122,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{122,118}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>slots_item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,419},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{122,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>slots_item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,855},{122,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,29},{122,78}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>slots_item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,973},{122,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{122,38}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>slots_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1},{336,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,208}}</string>
                <key>sourceSize</key>
                <string>{336,208}</string>
            </dict>
            <key>slots_small_item_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,173},{64,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{64,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_small_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,309},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{46,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>slots_small_item_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,385},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{30,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>slots_small_item_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1007},{36,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{36,14}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>slots_small_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,385},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{30,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>slots_small_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,385},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{30,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>slots_small_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,799},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{32,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>slots_small_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{24,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>slots_small_item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,385},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>slots_small_item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,973},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>slots_small_item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,799},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{34,22}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>slots_small_item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,295},{34,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{34,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:747e2baea1c537556a044261dfc0edbb$</string>
            <key>textureFileName</key>
            <string>slot.png</string>
        </dict>
    </dict>
</plist>
