<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bacc_all_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,173},{138,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,34}}</string>
                <key>sourceSize</key>
                <string>{140,36}</string>
            </dict>
            <key>bacc_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,121},{236,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,50}}</string>
                <key>sourceSize</key>
                <string>{236,52}</string>
            </dict>
            <key>bacc_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,541},{72,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,50}}</string>
                <key>sourceSize</key>
                <string>{76,52}</string>
            </dict>
            <key>bacc_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1},{138,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{138,34}}</string>
                <key>sourceSize</key>
                <string>{140,36}</string>
            </dict>
            <key>bacc_pays8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{136,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>bacc_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,271},{216,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{216,50}}</string>
                <key>sourceSize</key>
                <string>{216,52}</string>
            </dict>
            <key>bacc_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,489},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,50}}</string>
                <key>sourceSize</key>
                <string>{76,52}</string>
            </dict>
            <key>bacc_tie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,581},{90,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,50}}</string>
                <key>sourceSize</key>
                <string>{92,52}</string>
            </dict>
            <key>bacc_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{470,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{470,90}}</string>
                <key>sourceSize</key>
                <string>{472,96}</string>
            </dict>
            <key>game_logo_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,93},{200,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{200,104}}</string>
                <key>sourceSize</key>
                <string>{200,124}</string>
            </dict>
            <key>keno_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,273},{68,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,27},{68,20}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>keno_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,215},{56,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{56,22}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>keno_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,323},{68,18}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,29},{68,18}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>keno_issue.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,121},{92,22}}</string>
                <key>offset</key>
                <string>{-48,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{92,22}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>keno_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{260,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{260,26}}</string>
                <key>sourceSize</key>
                <string>{264,32}</string>
            </dict>
            <key>mini_baccarat_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,173},{196,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,122}}</string>
                <key>sourceSize</key>
                <string>{200,124}</string>
            </dict>
            <key>mini_baccarat_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,199},{196,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,122}}</string>
                <key>sourceSize</key>
                <string>{200,124}</string>
            </dict>
            <key>mini_buy_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,485},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>nini_lotto_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,323},{178,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{178,122}}</string>
                <key>sourceSize</key>
                <string>{200,124}</string>
            </dict>
            <key>nini_lotto_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,447},{178,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{178,122}}</string>
                <key>sourceSize</key>
                <string>{200,124}</string>
            </dict>
            <key>nini_slots_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,421},{182,122}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{182,122}}</string>
                <key>sourceSize</key>
                <string>{200,124}</string>
            </dict>
            <key>nini_slots_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,297},{182,122}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{182,122}}</string>
                <key>sourceSize</key>
                <string>{200,124}</string>
            </dict>
            <key>slot_bet_line_spot.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,443},{70,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>slot_chips_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,313},{128,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>slot_odds.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,541},{144,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{144,54}}</string>
                <key>sourceSize</key>
                <string>{148,56}</string>
            </dict>
            <key>slot_win_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,141},{128,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text_mini.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee27d5d408dfb829ac34130d1306ea32$</string>
            <key>textureFileName</key>
            <string>text_mini.png</string>
        </dict>
    </dict>
</plist>
