<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,85},{254,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{254,44}}</string>
                <key>sourceSize</key>
                <string>{262,44}</string>
            </dict>
            <key>all_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,287},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>baccarat_tag_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,329},{82,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,16}}</string>
                <key>sourceSize</key>
                <string>{82,16}</string>
            </dict>
            <key>baccarat_tag_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,415},{82,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,16}}</string>
                <key>sourceSize</key>
                <string>{82,16}</string>
            </dict>
            <key>baccarat_tag_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,413},{82,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,16}}</string>
                <key>sourceSize</key>
                <string>{82,16}</string>
            </dict>
            <key>bank_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{168,78}</string>
            </dict>
            <key>bank_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,133},{38,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>bank_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,81},{50,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>bank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,311},{50,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{50,18}}</string>
                <key>sourceSize</key>
                <string>{68,18}</string>
            </dict>
            <key>bonus_card_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,293},{120,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{120,76}}</string>
                <key>sourceSize</key>
                <string>{126,82}</string>
            </dict>
            <key>bonus_card_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,81},{126,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,82}}</string>
                <key>sourceSize</key>
                <string>{126,82}</string>
            </dict>
            <key>bonus_today.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,478},{68,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,14}}</string>
                <key>sourceSize</key>
                <string>{68,14}</string>
            </dict>
            <key>btn_action_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,337},{104,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{104,24}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>btn_action_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,311},{104,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{104,24}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>btn_auto_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,288},{36,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,8}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>btn_call_any.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,363},{26,10}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{26,10}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>btn_call_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,326},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{20,10}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>btn_check_discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,503},{36,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,8}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>btn_check_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,363},{28,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,10}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>btn_confirm_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,288},{38,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{38,10}}</string>
                <key>sourceSize</key>
                <string>{40,14}</string>
            </dict>
            <key>btn_discard_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,363},{24,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{24,10}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>btn_fill_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,293},{28,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,10}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>btn_game_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,277},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>btn_game_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,171},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>btn_hold.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,293},{26,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,10}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>btn_option_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,257},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>btn_option_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,65},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>btn_reday.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,348},{28,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,12}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>bug_feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,402},{74,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,18}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>bug_feedback_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,402},{70,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{70,60}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>bug_feedback_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,171},{70,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{70,60}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>chips_carry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,171},{116,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,18}}</string>
                <key>sourceSize</key>
                <string>{120,18}</string>
            </dict>
            <key>edit_info_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,171},{72,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>edit_info_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,171},{72,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{76,24}</string>
            </dict>
            <key>entry_fee_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,383},{50,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,12}}</string>
                <key>sourceSize</key>
                <string>{50,12}</string>
            </dict>
            <key>event_state_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,153},{52,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{52,16}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>event_state_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,257},{52,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,18}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>event_state_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,257},{52,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,18}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>event_state_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,469},{52,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,18}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>event_title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,326},{74,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,16}}</string>
                <key>sourceSize</key>
                <string>{78,16}</string>
            </dict>
            <key>event_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,415},{88,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,16}}</string>
                <key>sourceSize</key>
                <string>{88,16}</string>
            </dict>
            <key>event_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,499},{64,12}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,12}}</string>
                <key>sourceSize</key>
                <string>{78,16}</string>
            </dict>
            <key>evn_setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,257},{66,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{66,20}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>evn_setup_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,297},{62,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>evn_setup_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,245},{62,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,171},{84,22}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{84,22}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>exchange_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,165},{124,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{124,78}}</string>
                <key>sourceSize</key>
                <string>{126,82}</string>
            </dict>
            <key>exchange_col_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,363},{26,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{26,10}}</string>
                <key>sourceSize</key>
                <string>{40,16}</string>
            </dict>
            <key>exchange_col_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,288},{38,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{38,10}}</string>
                <key>sourceSize</key>
                <string>{40,16}</string>
            </dict>
            <key>exchange_col_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1},{48,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,10}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>exchange_col_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,363},{36,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,10}}</string>
                <key>sourceSize</key>
                <string>{40,16}</string>
            </dict>
            <key>exchange_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,131},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>exchange_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,131},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>exchange_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,213},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>fast_Match.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,283},{56,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,12}}</string>
                <key>sourceSize</key>
                <string>{56,16}</string>
            </dict>
            <key>fast_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,494},{58,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,10}}</string>
                <key>sourceSize</key>
                <string>{58,10}</string>
            </dict>
            <key>free_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,415},{86,16}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,16}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>free_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,270},{106,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,16}}</string>
                <key>sourceSize</key>
                <string>{106,16}</string>
            </dict>
            <key>game_back_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,131},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>game_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,131},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>game_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,326},{74,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{74,18}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>game_help_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,245},{36,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{36,60}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>game_help_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,288},{36,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{36,60}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>get_chips_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,329},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>get_chips_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,413},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>help_game_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,331},{50,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,10}}</string>
                <key>sourceSize</key>
                <string>{50,14}</string>
            </dict>
            <key>help_rule_decl.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,245},{72,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,10}}</string>
                <key>sourceSize</key>
                <string>{72,10}</string>
            </dict>
            <key>keno_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,171},{84,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,10}}</string>
                <key>sourceSize</key>
                <string>{86,12}</string>
            </dict>
            <key>logo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,243},{108,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{108,25}}</string>
                <key>sourceSize</key>
                <string>{170,25}</string>
            </dict>
            <key>max_chips_carry.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,494},{50,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,12}}</string>
                <key>sourceSize</key>
                <string>{52,14}</string>
            </dict>
            <key>menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,329},{82,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{82,16}}</string>
                <key>sourceSize</key>
                <string>{88,20}</string>
            </dict>
            <key>menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,171},{84,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{84,16}}</string>
                <key>sourceSize</key>
                <string>{88,20}</string>
            </dict>
            <key>menu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,415},{88,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,16}}</string>
                <key>sourceSize</key>
                <string>{88,20}</string>
            </dict>
            <key>menu_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,171},{72,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{72,12}}</string>
                <key>sourceSize</key>
                <string>{88,20}</string>
            </dict>
            <key>mini_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,39},{256,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{256,44}}</string>
                <key>sourceSize</key>
                <string>{266,44}</string>
            </dict>
            <key>object_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,495},{100,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,16}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>option_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,25},{266,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,44}}</string>
                <key>sourceSize</key>
                <string>{266,44}</string>
            </dict>
            <key>player_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,474},{68,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{68,18}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>player_info_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,363},{64,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>player_info_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,401},{64,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>rich_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{290,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,36}}</string>
                <key>sourceSize</key>
                <string>{290,36}</string>
            </dict>
            <key>rich_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,411},{74,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{74,18}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>room_type_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,288},{38,10}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{38,10}}</string>
                <key>sourceSize</key>
                <string>{50,10}</string>
            </dict>
            <key>room_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,191},{44,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,12}}</string>
                <key>sourceSize</key>
                <string>{50,12}</string>
            </dict>
            <key>room_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,53},{30,10}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{30,10}}</string>
                <key>sourceSize</key>
                <string>{50,10}</string>
            </dict>
            <key>room_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,338},{20,8}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,8}}</string>
                <key>sourceSize</key>
                <string>{50,10}</string>
            </dict>
            <key>room_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,13},{46,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,10}}</string>
                <key>sourceSize</key>
                <string>{50,10}</string>
            </dict>
            <key>room_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,205},{42,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,8}}</string>
                <key>sourceSize</key>
                <string>{50,10}</string>
            </dict>
            <key>seat_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,215},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>seat_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,171},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>shop_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,311},{38,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,16}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>shop_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,39},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{30,12}</string>
            </dict>
            <key>shop_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,131},{66,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{66,20}</string>
            </dict>
            <key>slot_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,153},{80,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,12}}</string>
                <key>sourceSize</key>
                <string>{80,12}</string>
            </dict>
            <key>table_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>task_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,415},{82,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{82,18}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,173},{44,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,16}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>text_silence.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,494},{52,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,16}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>text_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,363},{28,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,10}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text_0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:176a48bd9d459693f1dc9d3bde362180$</string>
            <key>textureFileName</key>
            <string>text_0.png</string>
        </dict>
    </dict>
</plist>
