<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Advertising_0_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,49},{220,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,56}}</string>
                <key>sourceSize</key>
                <string>{220,56}</string>
            </dict>
            <key>Advertising_0_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,107},{220,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,56}}</string>
                <key>sourceSize</key>
                <string>{220,56}</string>
            </dict>
            <key>bacc_all_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,395},{70,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,18}}</string>
                <key>sourceSize</key>
                <string>{70,18}</string>
            </dict>
            <key>bacc_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,165},{118,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,26}}</string>
                <key>sourceSize</key>
                <string>{118,26}</string>
            </dict>
            <key>bacc_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,291},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>bacc_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,411},{68,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,18}}</string>
                <key>sourceSize</key>
                <string>{70,18}</string>
            </dict>
            <key>bacc_pays8.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,411},{68,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,18}}</string>
                <key>sourceSize</key>
                <string>{68,18}</string>
            </dict>
            <key>bacc_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,193},{108,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,26}}</string>
                <key>sourceSize</key>
                <string>{108,26}</string>
            </dict>
            <key>bacc_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,285},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>bacc_tie.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,237},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>bacc_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{236,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,46}}</string>
                <key>sourceSize</key>
                <string>{236,48}</string>
            </dict>
            <key>game_logo_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,165},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>keno_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,255},{34,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{34,10}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>keno_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,97},{30,12}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{30,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>keno_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,219},{34,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{34,10}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>keno_issue.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,49},{46,12}}</string>
                <key>offset</key>
                <string>{-24,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,12}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>keno_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1},{130,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,14}}</string>
                <key>sourceSize</key>
                <string>{132,16}</string>
            </dict>
            <key>mini_baccarat_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,219},{98,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>mini_baccarat_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,221},{98,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>mini_buy_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,133},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nini_lotto_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,349},{90,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>nini_lotto_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,347},{90,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>nini_slots_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,285},{92,62}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>nini_slots_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,283},{92,62}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>slot_bet_line_spot.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,391},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>slot_chips_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,329},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>slot_odds.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,163},{72,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>slot_win_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,325},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text_mini.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b8a35fa4d9a0e4e6e98d5c01bb93c81$</string>
            <key>textureFileName</key>
            <string>text_mini.png</string>
        </dict>
    </dict>
</plist>
