<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert_board2_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,234},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_board2_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,237},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>alert_board2_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,240},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_board2_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,237},{1,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,16}}</string>
                <key>sourceSize</key>
                <string>{1,16}</string>
            </dict>
            <key>alert_board_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,231},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_board_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,237},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>alert_board_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,237},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_board_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,207},{1,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,16}}</string>
                <key>sourceSize</key>
                <string>{1,16}</string>
            </dict>
            <key>alert_btn_0_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,185},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_0_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,252},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_btn_0_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,178},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_0_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,209},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_0_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,234},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_btn_0_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,197},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,185},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_1_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,249},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_btn_1_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,187},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_1_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,165},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_1_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,231},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_btn_1_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,163},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,198},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_2_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,246},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_btn_2_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,143},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_2_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,120},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_2_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,234},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_btn_2_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,175},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,163},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_3_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,243},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_btn_3_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,121},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_3_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,98},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_3_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,231},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_btn_3_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,176},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_event_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,219},{1,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,16}}</string>
                <key>sourceSize</key>
                <string>{1,16}</string>
            </dict>
            <key>alert_event_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,240},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_event_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,237},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>alert_event_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,237},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>alert_event_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,228},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_event_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,237},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_event_rb.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,237},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>alert_event_rt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,202},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>alert_event_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,207},{1,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,16}}</string>
                <key>sourceSize</key>
                <string>{1,16}</string>
            </dict>
            <key>alert_frame_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,95},{26,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,1}}</string>
                <key>sourceSize</key>
                <string>{26,1}</string>
            </dict>
            <key>alert_frame_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,67},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>alert_frame_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,228},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_frame_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,147},{1,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,26}}</string>
                <key>sourceSize</key>
                <string>{1,26}</string>
            </dict>
            <key>alert_input_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,81},{16,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,38}}</string>
                <key>sourceSize</key>
                <string>{16,38}</string>
            </dict>
            <key>alert_input_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,138},{1,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,38}}</string>
                <key>sourceSize</key>
                <string>{1,38}</string>
            </dict>
            <key>alert_input_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,98},{8,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,38}}</string>
                <key>sourceSize</key>
                <string>{8,38}</string>
            </dict>
            <key>alert_prompt_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>alert_prompt_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,176},{1,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,24}}</string>
                <key>sourceSize</key>
                <string>{1,24}</string>
            </dict>
            <key>alert_prompt_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,231},{14,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,1}}</string>
                <key>sourceSize</key>
                <string>{14,1}</string>
            </dict>
            <key>alert_prompt_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,231},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>alert_prompt_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,220},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>alert_prompt_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,225},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_prompt_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,220},{1,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,8}}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>alert_title_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,75},{10,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,64}}</string>
                <key>sourceSize</key>
                <string>{10,64}</string>
            </dict>
            <key>alert_title_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,81},{1,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,64}}</string>
                <key>sourceSize</key>
                <string>{1,64}</string>
            </dict>
            <key>chips_carry_bar_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,29},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>chips_carry_bar_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,138},{1,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,36}}</string>
                <key>sourceSize</key>
                <string>{1,36}</string>
            </dict>
            <key>chips_carry_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,43},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{20,36}</string>
            </dict>
            <key>chips_carry_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,138},{1,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,36}}</string>
                <key>sourceSize</key>
                <string>{1,36}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>notice_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,75},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>notice_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,123},{1,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,38}}</string>
                <key>sourceSize</key>
                <string>{1,38}</string>
            </dict>
            <key>notification_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>notification_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,81},{1,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,40}}</string>
                <key>sourceSize</key>
                <string>{1,40}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,225},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alert.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c5a1ecca116c07bb4f7422829dd6fed$</string>
            <key>textureFileName</key>
            <string>alert.png</string>
        </dict>
    </dict>
</plist>
