<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Baccarat_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,681},{134,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,100}}</string>
                <key>sourceSize</key>
                <string>{134,100}</string>
            </dict>
            <key>Baccarat_help_bottom_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,677},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Baccarat_help_bottom_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,603},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bacc_10000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,751},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_10000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,649},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_10000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,481},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_1000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,379},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_1000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,875},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_1000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,889},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_100_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,885},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_100_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,787},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_100_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,773},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_10_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,671},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_10_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_10_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,179},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_50000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,783},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_50000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,685},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_50000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,913},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_5000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,815},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_5000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,885},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_5000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,893},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_500_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,713},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_500_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,783},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_500_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,791},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_50_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,783},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_50_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,713},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_50_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,603},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>bacc_area_1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1},{266,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,176}}</string>
                <key>sourceSize</key>
                <string>{266,176}</string>
            </dict>
            <key>bacc_area_1_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1},{266,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,176}}</string>
                <key>sourceSize</key>
                <string>{266,176}</string>
            </dict>
            <key>bacc_area_2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,315},{266,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,108}}</string>
                <key>sourceSize</key>
                <string>{266,108}</string>
            </dict>
            <key>bacc_area_2_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,205},{266,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,108}}</string>
                <key>sourceSize</key>
                <string>{266,108}</string>
            </dict>
            <key>bacc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>bacc_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,479},{80,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,1}}</string>
                <key>sourceSize</key>
                <string>{80,1}</string>
            </dict>
            <key>bacc_chips_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,425},{184,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,52}}</string>
                <key>sourceSize</key>
                <string>{184,52}</string>
            </dict>
            <key>bacc_colon.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,425},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>bacc_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,425},{1,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,50}}</string>
                <key>sourceSize</key>
                <string>{1,50}</string>
            </dict>
            <key>bacc_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,483},{276,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,118}}</string>
                <key>sourceSize</key>
                <string>{276,118}</string>
            </dict>
            <key>keno_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,983},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,983},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,387},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,385},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,355},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,325},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,295},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,265},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,235},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,205},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>keno_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,973},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,179},{298,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,24}}</string>
                <key>sourceSize</key>
                <string>{298,24}</string>
            </dict>
            <key>keno_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,387},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>keno_bet_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,321},{140,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,64}}</string>
                <key>sourceSize</key>
                <string>{140,64}</string>
            </dict>
            <key>keno_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,425},{144,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,148}}</string>
                <key>sourceSize</key>
                <string>{144,148}</string>
            </dict>
            <key>keno_btn_bet_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,613},{92,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>keno_btn_bet_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,103},{92,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>keno_btn_bet_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,321},{92,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>keno_btn_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,875},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,515},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_n_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,417},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_n_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,917},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_p_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,885},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_p_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,815},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_p_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,685},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>keno_btn_s_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,583},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>keno_btn_s_n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,281},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>keno_btn_s_n_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,949},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>keno_btn_s_p_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,883},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>keno_btn_s_p_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,817},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>keno_cycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,751},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>keno_global_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,681},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>keno_global_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,603},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>keno_global_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,575},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>keno_hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,755},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>keno_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,681},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>keno_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,483},{314,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,196}}</string>
                <key>sourceSize</key>
                <string>{314,196}</string>
            </dict>
            <key>slot_jp_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,179},{228,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,140}}</string>
                <key>sourceSize</key>
                <string>{228,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>keno.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dae3ce5703c1449051bef6734804b558$</string>
            <key>textureFileName</key>
            <string>keno.png</string>
        </dict>
    </dict>
</plist>
