<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet_number_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,571},{140,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,84}}</string>
                <key>sourceSize</key>
                <string>{140,84}</string>
            </dict>
            <key>bet_number_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,897},{140,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,84}}</string>
                <key>sourceSize</key>
                <string>{140,84}</string>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1},{360,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,568}}</string>
                <key>sourceSize</key>
                <string>{360,568}</string>
            </dict>
            <key>board_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,753},{242,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,252}}</string>
                <key>sourceSize</key>
                <string>{242,252}</string>
            </dict>
            <key>board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,753},{242,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,252}}</string>
                <key>sourceSize</key>
                <string>{242,252}</string>
            </dict>
            <key>board_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,657},{93,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,67}}</string>
                <key>sourceSize</key>
                <string>{93,67}</string>
            </dict>
            <key>board_halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,753},{240,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,252}}</string>
                <key>sourceSize</key>
                <string>{240,252}</string>
            </dict>
            <key>chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,834},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,860},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,834},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,860},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,834},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,983},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_1000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,983},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_10000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,871},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_100000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,871},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,871},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,871},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,997},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,997},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,997},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_500000.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,997},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_5000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,997},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_50000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,997},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_500000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,997},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chips_carry_bar_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,860},{348,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,18}}</string>
                <key>sourceSize</key>
                <string>{348,18}</string>
            </dict>
            <key>drink_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,657},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>drink_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,726},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>drink_s_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,983},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_s_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,983},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>help_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,784},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>help_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,784},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>table_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1},{308,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,750}}</string>
                <key>sourceSize</key>
                <string>{308,750}</string>
            </dict>
            <key>table_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{308,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,750}}</string>
                <key>sourceSize</key>
                <string>{308,750}</string>
            </dict>
            <key>table_girl_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,571},{152,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,168}}</string>
                <key>sourceSize</key>
                <string>{152,168}</string>
            </dict>
            <key>table_girl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,571},{136,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,168}}</string>
                <key>sourceSize</key>
                <string>{136,168}</string>
            </dict>
            <key>table_girl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,741},{136,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,168}}</string>
                <key>sourceSize</key>
                <string>{136,168}</string>
            </dict>
            <key>table_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,911},{188,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,84}}</string>
                <key>sourceSize</key>
                <string>{188,84}</string>
            </dict>
            <key>vip_card_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,741},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_1.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3a677f2fb5771c2f0498ffc77dc7484$</string>
            <key>textureFileName</key>
            <string>ui_1.png</string>
        </dict>
    </dict>
</plist>
