<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bonus_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,585},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Bonus_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,439},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Exchange_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,293},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Exchange_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,147},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>all_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1},{201,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,69}}</string>
                <key>sourceSize</key>
                <string>{201,69}</string>
            </dict>
            <key>bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,138},{162,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,76}}</string>
                <key>sourceSize</key>
                <string>{162,76}</string>
            </dict>
            <key>fast_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,997},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>fast_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,997},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>fast_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,997},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>fast_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,997},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>help_arrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,72},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>help_company.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,935},{180,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,84}}</string>
                <key>sourceSize</key>
                <string>{180,84}</string>
            </dict>
            <key>help_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,935},{180,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,88}}</string>
                <key>sourceSize</key>
                <string>{180,88}</string>
            </dict>
            <key>help_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{408,796}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,796}}</string>
                <key>sourceSize</key>
                <string>{408,796}</string>
            </dict>
            <key>help_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1},{116,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>opponent_frame_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,793},{176,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,140}}</string>
                <key>sourceSize</key>
                <string>{176,140}</string>
            </dict>
            <key>player_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,793},{176,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,140}}</string>
                <key>sourceSize</key>
                <string>{176,140}</string>
            </dict>
            <key>rich_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>rich_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,595},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>room_2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,397},{286,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,196}}</string>
                <key>sourceSize</key>
                <string>{286,196}</string>
            </dict>
            <key>room_2_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,199},{286,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,196}}</string>
                <key>sourceSize</key>
                <string>{286,196}</string>
            </dict>
            <key>room_3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{286,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,196}}</string>
                <key>sourceSize</key>
                <string>{286,196}</string>
            </dict>
            <key>room_3_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,799},{286,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,196}}</string>
                <key>sourceSize</key>
                <string>{286,196}</string>
            </dict>
            <key>room_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,799},{286,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,196}}</string>
                <key>sourceSize</key>
                <string>{286,196}</string>
            </dict>
            <key>shop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,741},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,741},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,741},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,747},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,747},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,747},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,747},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,747},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,747},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,747},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_bar_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,793},{260,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,150}}</string>
                <key>sourceSize</key>
                <string>{260,150}</string>
            </dict>
            <key>shop_bar_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,595},{260,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,150}}</string>
                <key>sourceSize</key>
                <string>{260,150}</string>
            </dict>
            <key>shop_chips_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,328},{120,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>shop_chips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,254},{120,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>shop_chips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,146},{120,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>shop_chips_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,72},{120,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>shop_chips_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,75},{120,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>shop_chips_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,1},{120,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>shop_currency_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,216},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>shop_currency_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,741},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>shop_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1},{263,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,109}}</string>
                <key>sourceSize</key>
                <string>{263,109}</string>
            </dict>
            <key>shop_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,997},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>shop_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,997},{116,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,24}}</string>
                <key>sourceSize</key>
                <string>{116,24}</string>
            </dict>
            <key>win_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,747},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>win_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,945},{394,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,78}}</string>
                <key>sourceSize</key>
                <string>{394,78}</string>
            </dict>
            <key>win_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,731},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_shop.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8818b51c3c00ee94e41b159d10cf58b0$</string>
            <key>textureFileName</key>
            <string>ui_shop.png</string>
        </dict>
    </dict>
</plist>
