<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert_board2_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,253},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_board2_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,137},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>alert_board2_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,100},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_board2_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,84},{1,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,16}}</string>
                <key>sourceSize</key>
                <string>{1,16}</string>
            </dict>
            <key>alert_board_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,250},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_board_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,137},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>alert_board_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,102},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_board_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,84},{1,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,16}}</string>
                <key>sourceSize</key>
                <string>{1,16}</string>
            </dict>
            <key>alert_btn_0_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,84},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_0_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,253},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_btn_0_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,144},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_0_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,137},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_0_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,99},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_btn_0_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,75},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,75},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_1_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,250},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_btn_1_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,115},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_1_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,115},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_1_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_btn_1_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,75},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,143},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_2_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,253},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_btn_2_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,122},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_2_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,115},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_2_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_btn_2_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,127},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,121},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_btn_3_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,250},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_btn_3_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,84},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_3_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,84},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>alert_btn_3_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,102},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_btn_3_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,105},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_event_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,84},{1,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,16}}</string>
                <key>sourceSize</key>
                <string>{1,16}</string>
            </dict>
            <key>alert_event_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,253},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_event_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,137},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>alert_event_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,165},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>alert_event_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,99},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_event_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{16,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1}}</string>
                <key>sourceSize</key>
                <string>{16,1}</string>
            </dict>
            <key>alert_event_rb.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,147},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>alert_event_rt.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,147},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>alert_event_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,75},{1,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,16}}</string>
                <key>sourceSize</key>
                <string>{1,16}</string>
            </dict>
            <key>alert_frame_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,250},{26,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,1}}</string>
                <key>sourceSize</key>
                <string>{26,1}</string>
            </dict>
            <key>alert_frame_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,115},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>alert_frame_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,96},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_frame_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,67},{1,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,26}}</string>
                <key>sourceSize</key>
                <string>{1,26}</string>
            </dict>
            <key>alert_input_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,107},{16,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,38}}</string>
                <key>sourceSize</key>
                <string>{16,38}</string>
            </dict>
            <key>alert_input_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,27},{1,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,38}}</string>
                <key>sourceSize</key>
                <string>{1,38}</string>
            </dict>
            <key>alert_input_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,77},{8,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,38}}</string>
                <key>sourceSize</key>
                <string>{8,38}</string>
            </dict>
            <key>alert_prompt_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,117},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>alert_prompt_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,95},{1,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,24}}</string>
                <key>sourceSize</key>
                <string>{1,24}</string>
            </dict>
            <key>alert_prompt_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,143},{14,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,1}}</string>
                <key>sourceSize</key>
                <string>{14,1}</string>
            </dict>
            <key>alert_prompt_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>alert_prompt_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,67},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>alert_prompt_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,93},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_prompt_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,93},{1,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,8}}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>alert_title_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1},{10,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,64}}</string>
                <key>sourceSize</key>
                <string>{10,64}</string>
            </dict>
            <key>alert_title_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,27},{1,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,64}}</string>
                <key>sourceSize</key>
                <string>{1,64}</string>
            </dict>
            <key>cancel_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>cancel_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,167},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>chips_carry_bar_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,84},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>chips_carry_bar_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,69},{1,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,36}}</string>
                <key>sourceSize</key>
                <string>{1,36}</string>
            </dict>
            <key>chips_carry_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,207},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{20,36}</string>
            </dict>
            <key>chips_carry_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,67},{1,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,36}}</string>
                <key>sourceSize</key>
                <string>{1,36}</string>
            </dict>
            <key>confirm_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,84},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>confirm_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>notice_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,75},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>notice_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,27},{1,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,38}}</string>
                <key>sourceSize</key>
                <string>{1,38}</string>
            </dict>
            <key>notification_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,165},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>notification_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,27},{1,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,40}}</string>
                <key>sourceSize</key>
                <string>{1,40}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,103},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alert.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b9d18cdaa42b378d0a1f14c857e9a00$</string>
            <key>textureFileName</key>
            <string>alert.png</string>
        </dict>
    </dict>
</plist>
