<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>all_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,672},{193,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,80}}</string>
                <key>sourceSize</key>
                <string>{193,80}</string>
            </dict>
            <key>back_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,745},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,672},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>bank_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,761},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,731},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,701},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,671},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,599},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,569},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,539},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,509},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,986},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,986},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bank_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,981},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,32}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,972},{146,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,12}}</string>
                <key>sourceSize</key>
                <string>{146,12}</string>
            </dict>
            <key>bar_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1007},{146,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,12}}</string>
                <key>sourceSize</key>
                <string>{146,12}</string>
            </dict>
            <key>bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{360,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,568}}</string>
                <key>sourceSize</key>
                <string>{360,568}</string>
            </dict>
            <key>bg_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,571},{360,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,218}}</string>
                <key>sourceSize</key>
                <string>{360,218}</string>
            </dict>
            <key>bg_on_.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,979},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,44}}</string>
                <key>sourceSize</key>
                <string>{86,44}</string>
            </dict>
            <key>bg_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1},{360,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,500}}</string>
                <key>sourceSize</key>
                <string>{360,500}</string>
            </dict>
            <key>board_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,818},{93,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,67}}</string>
                <key>sourceSize</key>
                <string>{93,67}</string>
            </dict>
            <key>board_chips_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,968},{146,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,45}}</string>
                <key>sourceSize</key>
                <string>{146,45}</string>
            </dict>
            <key>board_chips_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,979},{140,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,43}}</string>
                <key>sourceSize</key>
                <string>{140,43}</string>
            </dict>
            <key>check_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,979},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>check_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,979},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>check_s_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,986},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>check_s_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,986},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,818},{93,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,67}}</string>
                <key>sourceSize</key>
                <string>{93,67}</string>
            </dict>
            <key>chips_area.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,842},{192,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,66}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,986},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>event_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,865},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>event_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,865},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>event_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,865},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>free_chips_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,779},{328,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,84}}</string>
                <key>sourceSize</key>
                <string>{328,84}</string>
            </dict>
            <key>free_chips_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,693},{328,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,84}}</string>
                <key>sourceSize</key>
                <string>{328,84}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,910},{101,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,56}}</string>
                <key>sourceSize</key>
                <string>{101,56}</string>
            </dict>
            <key>gold_area.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,468},{202,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,56}}</string>
                <key>sourceSize</key>
                <string>{202,56}</string>
            </dict>
            <key>handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,981},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>head_area.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,526},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>head_area_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,526},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>hot_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,887},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>medal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,571},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,509},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,447},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>ms.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,633},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,910},{1,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,38}}</string>
                <key>sourceSize</key>
                <string>{1,38}</string>
            </dict>
            <key>object_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,957},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>object_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,887},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>object_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,381},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>object_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,791},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>option_title_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,754},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>room_0_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,191},{286,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,188}}</string>
                <key>sourceSize</key>
                <string>{286,188}</string>
            </dict>
            <key>room_0_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,791},{286,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,188}}</string>
                <key>sourceSize</key>
                <string>{286,188}</string>
            </dict>
            <key>room_1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1},{286,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,188}}</string>
                <key>sourceSize</key>
                <string>{286,188}</string>
            </dict>
            <key>room_1_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,503},{286,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,188}}</string>
                <key>sourceSize</key>
                <string>{286,188}</string>
            </dict>
            <key>scroll_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,979},{10,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,5}}</string>
                <key>sourceSize</key>
                <string>{10,5}</string>
            </dict>
            <key>scroll_bean_ext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1},{10,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,1}}</string>
                <key>sourceSize</key>
                <string>{10,1}</string>
            </dict>
            <key>sex_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,991},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>sex_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,957},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>slot_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,981},{148,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,24}}</string>
                <key>sourceSize</key>
                <string>{148,24}</string>
            </dict>
            <key>slot_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,910},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>tab_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,381},{230,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,85}}</string>
                <key>sourceSize</key>
                <string>{230,85}</string>
            </dict>
            <key>text_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,672},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>text_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,468},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>vip_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,865},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,32}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>vip_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,503},{36,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,16}}</string>
                <key>sourceSize</key>
                <string>{36,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a56e54af5a7c212e1c06762923173e30$</string>
            <key>textureFileName</key>
            <string>ui_0.png</string>
        </dict>
    </dict>
</plist>
