<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet_number_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,845},{140,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,84}}</string>
                <key>sourceSize</key>
                <string>{140,84}</string>
            </dict>
            <key>bet_number_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,741},{140,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,84}}</string>
                <key>sourceSize</key>
                <string>{140,84}</string>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1},{360,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,568}}</string>
                <key>sourceSize</key>
                <string>{360,568}</string>
            </dict>
            <key>board_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,753},{242,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,252}}</string>
                <key>sourceSize</key>
                <string>{242,252}</string>
            </dict>
            <key>board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,753},{242,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,252}}</string>
                <key>sourceSize</key>
                <string>{242,252}</string>
            </dict>
            <key>board_halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,571},{240,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,252}}</string>
                <key>sourceSize</key>
                <string>{240,252}</string>
            </dict>
            <key>chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,407},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,381},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,355},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,329},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,303},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,277},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_1000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,251},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_10000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,225},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_100000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,199},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,173},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,147},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,121},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,985},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,95},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_500000.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,885},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_5000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,69},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_50000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,885},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chip_500000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,43},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>chips_carry_bar_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,825},{348,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,18}}</string>
                <key>sourceSize</key>
                <string>{348,18}</string>
            </dict>
            <key>chips_carry_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,753},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>drink_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,827},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>drink_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,827},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>drink_s_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,753},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_s_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>help_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,935},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>help_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,885},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>table_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1},{308,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,750}}</string>
                <key>sourceSize</key>
                <string>{308,750}</string>
            </dict>
            <key>table_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{308,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,750}}</string>
                <key>sourceSize</key>
                <string>{308,750}</string>
            </dict>
            <key>table_girl_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,571},{152,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,168}}</string>
                <key>sourceSize</key>
                <string>{152,168}</string>
            </dict>
            <key>table_girl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,845},{136,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,168}}</string>
                <key>sourceSize</key>
                <string>{136,168}</string>
            </dict>
            <key>table_girl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,845},{136,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,168}}</string>
                <key>sourceSize</key>
                <string>{136,168}</string>
            </dict>
            <key>table_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,931},{188,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,84}}</string>
                <key>sourceSize</key>
                <string>{188,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eb79b52613fe99d4806d5cde1470a37$</string>
            <key>textureFileName</key>
            <string>ui_1.png</string>
        </dict>
    </dict>
</plist>
