<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bonus_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,117},{106,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{106,114}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Bonus_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1},{106,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{106,114}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Exchange_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,317},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Exchange_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,203},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,127},{162,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,76}</string>
            </dict>
            <key>fast_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,977},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>fast_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,977},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>fast_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,977},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>fast_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,977},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>help_arrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,441},{62,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>help_company.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,704},{178,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,82}}</string>
                <key>sourceSize</key>
                <string>{180,84}</string>
            </dict>
            <key>help_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,614},{178,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,88}}</string>
                <key>sourceSize</key>
                <string>{180,88}</string>
            </dict>
            <key>help_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{408,796}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,796}}</string>
                <key>sourceSize</key>
                <string>{408,796}</string>
            </dict>
            <key>help_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,602},{116,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>opponent_frame_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{162,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{162,124}}</string>
                <key>sourceSize</key>
                <string>{176,140}</string>
            </dict>
            <key>player_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,824},{176,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{176,138}}</string>
                <key>sourceSize</key>
                <string>{176,140}</string>
            </dict>
            <key>rich_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,431},{122,126}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{122,126}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>rich_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,233},{122,126}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{122,126}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>room_2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,179},{286,176}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,176}}</string>
                <key>sourceSize</key>
                <string>{286,188}</string>
            </dict>
            <key>room_2_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1},{286,176}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,176}}</string>
                <key>sourceSize</key>
                <string>{286,188}</string>
            </dict>
            <key>room_3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,799},{286,176}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,176}}</string>
                <key>sourceSize</key>
                <string>{286,188}</string>
            </dict>
            <key>room_3_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,799},{286,176}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,176}}</string>
                <key>sourceSize</key>
                <string>{286,188}</string>
            </dict>
            <key>shop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,977},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,977},{26,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,977},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,977},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,977},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,977},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,977},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,977},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,977},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,977},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>shop_bar_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,824},{260,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,150}}</string>
                <key>sourceSize</key>
                <string>{260,150}</string>
            </dict>
            <key>shop_bar_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,625},{260,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,150}}</string>
                <key>sourceSize</key>
                <string>{260,150}</string>
            </dict>
            <key>shop_chips_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,441},{94,66}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{94,66}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>shop_chips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,552},{118,48}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{118,48}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>shop_chips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,774},{116,48}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{116,48}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>shop_chips_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,724},{116,48}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{116,48}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>shop_chips_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,559},{118,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{118,64}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>shop_chips_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,509},{118,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>shop_currency_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,977},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>shop_currency_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,977},{26,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{26,30}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>shop_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,441},{263,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,109}}</string>
                <key>sourceSize</key>
                <string>{263,109}</string>
            </dict>
            <key>shop_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1013},{12,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>shop_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,977},{116,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,24}}</string>
                <key>sourceSize</key>
                <string>{116,24}</string>
            </dict>
            <key>win_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,977},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>win_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,361},{394,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,78}}</string>
                <key>sourceSize</key>
                <string>{394,78}</string>
            </dict>
            <key>win_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,552},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_shop.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faecb66685130220a4898a131b8df2c6$</string>
            <key>textureFileName</key>
            <string>ui_shop.png</string>
        </dict>
    </dict>
</plist>
