<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bacc_all_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,337},{140,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,36}}</string>
                <key>sourceSize</key>
                <string>{140,36}</string>
            </dict>
            <key>bacc_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,523},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>bacc_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,411},{76,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,52}</string>
            </dict>
            <key>bacc_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,299},{140,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,36}}</string>
                <key>sourceSize</key>
                <string>{140,36}</string>
            </dict>
            <key>bacc_pays8.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,375},{136,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,36}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>bacc_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,457},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>bacc_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,357},{76,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,52}</string>
            </dict>
            <key>bacc_tie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,577},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,60}}</string>
                <key>sourceSize</key>
                <string>{116,60}</string>
            </dict>
            <key>bacc_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{472,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,96}}</string>
                <key>sourceSize</key>
                <string>{472,96}</string>
            </dict>
            <key>game_logo_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,99},{284,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,99}}</string>
                <key>sourceSize</key>
                <string>{284,99}</string>
            </dict>
            <key>keno_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,547},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>keno_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,539},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>keno_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,465},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>keno_issue.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,99},{196,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,56}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>keno_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,157},{156,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,36}}</string>
                <key>sourceSize</key>
                <string>{156,36}</string>
            </dict>
            <key>mini_baccarat_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,200},{155,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,102}}</string>
                <key>sourceSize</key>
                <string>{155,102}</string>
            </dict>
            <key>mini_baccarat_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,195},{155,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,102}}</string>
                <key>sourceSize</key>
                <string>{155,102}</string>
            </dict>
            <key>mini_buy_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,157},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>nini_lotto_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,454},{127,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,121}}</string>
                <key>sourceSize</key>
                <string>{127,121}</string>
            </dict>
            <key>nini_lotto_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,200},{127,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,121}}</string>
                <key>sourceSize</key>
                <string>{127,121}</string>
            </dict>
            <key>nini_slots_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,413},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>nini_slots_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,323},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>slot_bet_line_spot.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,299},{78,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,56}}</string>
                <key>sourceSize</key>
                <string>{78,56}</string>
            </dict>
            <key>slot_chips_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,408},{128,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,44}}</string>
                <key>sourceSize</key>
                <string>{128,44}</string>
            </dict>
            <key>slot_odds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,304},{148,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,56}}</string>
                <key>sourceSize</key>
                <string>{148,56}</string>
            </dict>
            <key>slot_win_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,362},{128,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,44}}</string>
                <key>sourceSize</key>
                <string>{128,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text_mini.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc018cde08f33e73a3349cc1a18e8773$</string>
            <key>textureFileName</key>
            <string>text_mini.png</string>
        </dict>
    </dict>
</plist>
