<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Baccarat_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,236},{67,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>Baccarat_help_bottom_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,440},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Baccarat_help_bottom_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,402},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>bacc_10000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,443},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_10000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,393},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_10000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,347},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_1000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,302},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_1000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,297},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_1000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,247},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_100_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,408},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_100_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,352},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_100_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,358},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_10_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,368},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_10_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,308},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_10_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,318},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_50000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,197},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_50000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,252},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_50000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,202},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_5000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,152},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_5000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,258},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_5000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,208},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_500_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,343},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_500_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,395},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_500_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,345},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_50_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,295},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_50_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,245},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_50_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,195},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_area_1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>bacc_area_1_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>bacc_area_2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,152},{133,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,54}}</string>
                <key>sourceSize</key>
                <string>{133,54}</string>
            </dict>
            <key>bacc_area_2_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,433},{133,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,54}}</string>
                <key>sourceSize</key>
                <string>{133,54}</string>
            </dict>
            <key>bacc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,240}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>bacc_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,503},{40,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,1}}</string>
                <key>sourceSize</key>
                <string>{40,1}</string>
            </dict>
            <key>bacc_chips_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,208},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>bacc_colon.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,418},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,18}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>bacc_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,208},{1,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,26}}</string>
                <key>sourceSize</key>
                <string>{1,26}</string>
            </dict>
            <key>bacc_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,91},{138,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,59}}</string>
                <key>sourceSize</key>
                <string>{138,59}</string>
            </dict>
            <key>free_chips_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,45},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>free_chips_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>keno_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,288},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,489},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,489},{10,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,59},{10,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,147},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,43},{10,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,59},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,27},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,43},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,27},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>keno_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,489},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,12}}</string>
                <key>sourceSize</key>
                <string>{148,12}</string>
            </dict>
            <key>keno_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,418},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>keno_bet_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,455},{70,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
            <key>keno_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,89},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>keno_btn_bet_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,165},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>keno_btn_bet_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,288},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>keno_btn_bet_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,299},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>keno_btn_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,415},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,365},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_n_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,315},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_n_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,265},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_p_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,215},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_p_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,165},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_p_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,147},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_s_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,470},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>keno_btn_s_n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,436},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>keno_btn_s_n_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,402},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>keno_btn_s_p_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,478},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>keno_btn_s_p_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,458},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>keno_cycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,458},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>keno_global_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,243},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>keno_global_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,399},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>keno_global_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,343},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>keno_hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,503},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>keno_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,329},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{32,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>keno_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{157,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,98}}</string>
                <key>sourceSize</key>
                <string>{157,98}</string>
            </dict>
            <key>slot_jp_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,89},{108,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{108,56}}</string>
                <key>sourceSize</key>
                <string>{114,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>keno.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17fcbe6a4a826a664ac62771f2bb62a2$</string>
            <key>textureFileName</key>
            <string>keno.png</string>
        </dict>
    </dict>
</plist>
