<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Advertising_0_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,113},{440,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,110}}</string>
                <key>sourceSize</key>
                <string>{440,110}</string>
            </dict>
            <key>Advertising_0_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1},{440,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,110}}</string>
                <key>sourceSize</key>
                <string>{440,110}</string>
            </dict>
            <key>action_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,225},{510,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{510,84}}</string>
                <key>sourceSize</key>
                <string>{530,86}</string>
            </dict>
            <key>all_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,531},{82,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>baccarat_tag_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,867},{162,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{162,28}}</string>
                <key>sourceSize</key>
                <string>{164,30}</string>
            </dict>
            <key>baccarat_tag_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,473},{162,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{162,28}}</string>
                <key>sourceSize</key>
                <string>{164,30}</string>
            </dict>
            <key>baccarat_tag_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,689},{162,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{162,28}}</string>
                <key>sourceSize</key>
                <string>{164,30}</string>
            </dict>
            <key>bank_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,245},{336,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,154}}</string>
                <key>sourceSize</key>
                <string>{336,154}</string>
            </dict>
            <key>bank_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,401},{72,86}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{72,86}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>bank_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,923},{100,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>bank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,473},{96,28}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{96,28}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>bonus_card_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,471},{240,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{240,152}}</string>
                <key>sourceSize</key>
                <string>{252,164}</string>
            </dict>
            <key>bonus_card_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,311},{250,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{250,162}}</string>
                <key>sourceSize</key>
                <string>{252,164}</string>
            </dict>
            <key>bonus_today.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,503},{136,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,26}}</string>
                <key>sourceSize</key>
                <string>{136,28}</string>
            </dict>
            <key>btn_action_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,689},{206,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{206,46}}</string>
                <key>sourceSize</key>
                <string>{206,56}</string>
            </dict>
            <key>btn_action_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,689},{206,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{206,46}}</string>
                <key>sourceSize</key>
                <string>{206,56}</string>
            </dict>
            <key>btn_auto_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,907},{72,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,14}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
            <key>btn_call_any.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,615},{52,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{52,16}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
            <key>btn_call_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,625},{38,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{38,20}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_check_discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,850},{70,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,14}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
            <key>btn_check_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,159},{56,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{56,18}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_confirm_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,849},{76,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{76,18}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>btn_discard_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,850},{44,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{44,20}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_fill_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,659},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{54,20}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_game_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,689},{206,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,56}}</string>
                <key>sourceSize</key>
                <string>{206,56}</string>
            </dict>
            <key>btn_game_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,625},{206,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,56}}</string>
                <key>sourceSize</key>
                <string>{206,56}</string>
            </dict>
            <key>btn_hold.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,659},{50,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,20}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_option_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,689},{206,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{206,54}}</string>
                <key>sourceSize</key>
                <string>{206,56}</string>
            </dict>
            <key>btn_option_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,689},{206,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{206,54}}</string>
                <key>sourceSize</key>
                <string>{206,56}</string>
            </dict>
            <key>btn_reday.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,659},{56,22}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>bug_feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,475},{146,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{146,34}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>bug_feedback_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,897},{140,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{140,116}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>bug_feedback_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,535},{140,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{140,116}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>chips_carry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,689},{232,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{232,36}}</string>
                <key>sourceSize</key>
                <string>{240,36}</string>
            </dict>
            <key>edit_info_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,73},{140,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{140,48}}</string>
                <key>sourceSize</key>
                <string>{152,48}</string>
            </dict>
            <key>edit_info_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,689},{140,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{140,48}}</string>
                <key>sourceSize</key>
                <string>{152,48}</string>
            </dict>
            <key>entry_fee_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,923},{100,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>event_state_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,887},{102,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{102,30}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>event_state_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,849},{102,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{102,36}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>event_state_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,887},{102,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{102,32}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>event_state_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,887},{104,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{104,34}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>event_title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,689},{144,32}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,32}}</string>
                <key>sourceSize</key>
                <string>{156,32}</string>
            </dict>
            <key>event_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,277},{170,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,30}}</string>
                <key>sourceSize</key>
                <string>{174,32}</string>
            </dict>
            <key>event_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,999},{126,24}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,24}}</string>
                <key>sourceSize</key>
                <string>{156,32}</string>
            </dict>
            <key>evn_setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,850},{128,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{128,40}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>evn_setup_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,897},{122,126}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{122,126}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>evn_setup_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,897},{122,126}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{122,126}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,363},{166,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{166,40}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>exchange_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,311},{248,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{248,158}}</string>
                <key>sourceSize</key>
                <string>{252,164}</string>
            </dict>
            <key>exchange_col_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,555},{52,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{52,18}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>exchange_col_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,771},{76,18}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{76,18}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>exchange_col_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,503},{96,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{96,18}}</string>
                <key>sourceSize</key>
                <string>{100,32}</string>
            </dict>
            <key>exchange_col_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,615},{70,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,18}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>exchange_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,625},{74,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>exchange_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,625},{74,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>exchange_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,771},{74,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>fast_Match.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,475},{112,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{112,22}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>fast_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,471},{114,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,20}}</string>
                <key>sourceSize</key>
                <string>{114,20}</string>
            </dict>
            <key>free_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,245},{172,30}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{172,30}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>free_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,475},{212,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,32}}</string>
                <key>sourceSize</key>
                <string>{212,32}</string>
            </dict>
            <key>game_back_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,771},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>game_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,555},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>game_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,475},{146,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,36}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>game_help_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,892},{70,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{70,116}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>game_help_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,401},{70,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,8},{70,116}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>get_chips_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,689},{154,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,159}}</string>
                <key>sourceSize</key>
                <string>{154,159}</string>
            </dict>
            <key>get_chips_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,531},{154,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,159}}</string>
                <key>sourceSize</key>
                <string>{154,159}</string>
            </dict>
            <key>help_game_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,587},{100,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>help_rule_decl.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,475},{142,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{142,18}}</string>
                <key>sourceSize</key>
                <string>{144,20}</string>
            </dict>
            <key>keno_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,341},{168,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{168,20}}</string>
                <key>sourceSize</key>
                <string>{172,24}</string>
            </dict>
            <key>logo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,689},{216,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,3},{216,46}}</string>
                <key>sourceSize</key>
                <string>{340,50}</string>
            </dict>
            <key>max_chips_carry.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,923},{100,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{100,22}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,405},{164,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{164,30}}</string>
                <key>sourceSize</key>
                <string>{176,40}</string>
            </dict>
            <key>menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,309},{168,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{168,30}}</string>
                <key>sourceSize</key>
                <string>{176,40}</string>
            </dict>
            <key>menu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,689},{176,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{176,30}}</string>
                <key>sourceSize</key>
                <string>{176,40}</string>
            </dict>
            <key>menu_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,503},{144,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{144,24}}</string>
                <key>sourceSize</key>
                <string>{176,40}</string>
            </dict>
            <key>mini_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,159},{510,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{510,84}}</string>
                <key>sourceSize</key>
                <string>{530,86}</string>
            </dict>
            <key>object_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,689},{198,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{198,32}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>option_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{530,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{530,84}}</string>
                <key>sourceSize</key>
                <string>{530,86}</string>
            </dict>
            <key>player_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,653},{132,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{132,34}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>player_info_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,529},{128,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>player_info_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,401},{128,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>rich_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{580,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,70}}</string>
                <key>sourceSize</key>
                <string>{580,70}</string>
            </dict>
            <key>rich_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,689},{144,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{144,32}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>room_type_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,771},{76,18}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{76,18}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>room_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,531},{86,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{86,22}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>room_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,625},{58,20}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{58,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>room_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,849},{38,16}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{38,16}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>room_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,531},{92,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,18}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>room_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,831},{80,16}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{80,16}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>seat_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,689},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>seat_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,689},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shop_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,771},{76,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{76,30}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>shop_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,625},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
            <key>shop_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,495},{132,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,38}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>slot_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,897},{160,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,24}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>table_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,923},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>task_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,437},{162,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{162,34}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,531},{86,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{86,30}}</string>
                <key>sourceSize</key>
                <string>{92,48}</string>
            </dict>
            <key>text_silence.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,993},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>text_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,523},{92,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{92,30}}</string>
                <key>sourceSize</key>
                <string>{92,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b34db03d70311b8cbeb24c503e4cea2c$</string>
            <key>textureFileName</key>
            <string>text_0.png</string>
        </dict>
    </dict>
</plist>
