<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_baccarat.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1},{500,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,498}}</string>
                <key>sourceSize</key>
                <string>{500,498}</string>
            </dict>
            <key>help_chips_limit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,841},{152,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,222}}</string>
                <key>sourceSize</key>
                <string>{152,222}</string>
            </dict>
            <key>help_chips_limit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,841},{124,194}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{124,194}}</string>
                <key>sourceSize</key>
                <string>{152,222}</string>
            </dict>
            <key>help_chips_limit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,841},{132,194}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{132,194}}</string>
                <key>sourceSize</key>
                <string>{152,222}</string>
            </dict>
            <key>help_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{498,836}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,836}}</string>
                <key>sourceSize</key>
                <string>{498,836}</string>
            </dict>
            <key>help_keno.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,501},{490,338}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{490,338}}</string>
                <key>sourceSize</key>
                <string>{490,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text_help.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c37095a40b6d56e42697af33cb7255f$</string>
            <key>textureFileName</key>
            <string>text_help.png</string>
        </dict>
    </dict>
</plist>
