<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Advertising_0_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,869},{440,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,110}}</string>
                <key>sourceSize</key>
                <string>{440,110}</string>
            </dict>
            <key>action_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1},{530,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,86}}</string>
                <key>sourceSize</key>
                <string>{530,86}</string>
            </dict>
            <key>all_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,329},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>baccarat_tag_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,981},{153,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,40}}</string>
                <key>sourceSize</key>
                <string>{153,40}</string>
            </dict>
            <key>baccarat_tag_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,981},{153,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,40}}</string>
                <key>sourceSize</key>
                <string>{153,40}</string>
            </dict>
            <key>baccarat_tag_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,981},{153,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,40}}</string>
                <key>sourceSize</key>
                <string>{153,40}</string>
            </dict>
            <key>bank_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,869},{336,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,144}}</string>
                <key>sourceSize</key>
                <string>{336,144}</string>
            </dict>
            <key>bank_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,164},{114,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,89}}</string>
                <key>sourceSize</key>
                <string>{114,89}</string>
            </dict>
            <key>bank_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1},{151,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,161}}</string>
                <key>sourceSize</key>
                <string>{151,161}</string>
            </dict>
            <key>bank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,943},{136,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,36}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>bonus_card_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,167},{252,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,164}}</string>
                <key>sourceSize</key>
                <string>{252,164}</string>
            </dict>
            <key>bonus_card_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1},{252,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,164}}</string>
                <key>sourceSize</key>
                <string>{252,164}</string>
            </dict>
            <key>bonus_today.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,987},{160,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,24}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>btn_action_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,695},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>btn_action_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,447},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>btn_auto_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,653},{72,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
            <key>btn_call_any.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,627},{72,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
            <key>btn_call_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,907},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_check_discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,601},{72,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
            <key>btn_check_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,877},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_confirm_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,817},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_discard_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,847},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_fill_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,787},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_game_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,369},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>btn_game_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,617},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>btn_hold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,817},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>btn_option_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,539},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>btn_option_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,865},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>btn_reday.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,787},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>bug_feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,677},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>bug_feedback_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,375},{341,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,162}}</string>
                <key>sourceSize</key>
                <string>{341,162}</string>
            </dict>
            <key>bug_feedback_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,165},{341,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,162}}</string>
                <key>sourceSize</key>
                <string>{341,162}</string>
            </dict>
            <key>chips_carry.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,943},{136,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,36}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>edit_info_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,89},{137,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,51}}</string>
                <key>sourceSize</key>
                <string>{137,51}</string>
            </dict>
            <key>edit_info_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,89},{137,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,51}}</string>
                <key>sourceSize</key>
                <string>{137,51}</string>
            </dict>
            <key>entry_fee_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,987},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>event_state_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,525},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>event_state_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,677},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>event_state_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,627},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>event_state_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,577},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>event_title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,943},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>event_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,825},{156,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,32}}</string>
                <key>sourceSize</key>
                <string>{156,32}</string>
            </dict>
            <key>event_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,943},{100,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,32}}</string>
                <key>sourceSize</key>
                <string>{100,32}</string>
            </dict>
            <key>evn_setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,627},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>evn_setup_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1},{341,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,162}}</string>
                <key>sourceSize</key>
                <string>{341,162}</string>
            </dict>
            <key>evn_setup_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,703},{341,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,162}}</string>
                <key>sourceSize</key>
                <string>{341,162}</string>
            </dict>
            <key>exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,525},{168,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,50}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>exchange_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,375},{252,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,164}}</string>
                <key>sourceSize</key>
                <string>{252,164}</string>
            </dict>
            <key>exchange_col_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,943},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>exchange_col_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,977},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>exchange_col_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,977},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>exchange_col_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,977},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>exchange_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,89},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>exchange_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,89},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>exchange_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,89},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>fast_Match.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,911},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>fast_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,911},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>free_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,333},{168,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,40}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>free_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,825},{212,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,32}}</string>
                <key>sourceSize</key>
                <string>{212,32}</string>
            </dict>
            <key>game_back_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,784},{114,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,79}}</string>
                <key>sourceSize</key>
                <string>{114,79}</string>
            </dict>
            <key>game_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,703},{114,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,79}}</string>
                <key>sourceSize</key>
                <string>{114,79}</string>
            </dict>
            <key>game_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,577},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>game_help_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,539},{341,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,162}}</string>
                <key>sourceSize</key>
                <string>{341,162}</string>
            </dict>
            <key>game_help_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,705},{341,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,162}}</string>
                <key>sourceSize</key>
                <string>{341,162}</string>
            </dict>
            <key>get_chips_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,188},{175,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,185}}</string>
                <key>sourceSize</key>
                <string>{175,185}</string>
            </dict>
            <key>get_chips_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{175,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,185}}</string>
                <key>sourceSize</key>
                <string>{175,185}</string>
            </dict>
            <key>help_game_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,757},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>help_rule_decl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,727},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>keno_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,727},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>logo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,773},{340,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,50}}</string>
                <key>sourceSize</key>
                <string>{340,50}</string>
            </dict>
            <key>max_chips_carry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,727},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,981},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,981},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>menu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,327},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>menu_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,327},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>mini_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1},{530,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,86}}</string>
                <key>sourceSize</key>
                <string>{530,86}</string>
            </dict>
            <key>object_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,333},{200,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>option_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,164},{530,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,86}}</string>
                <key>sourceSize</key>
                <string>{530,86}</string>
            </dict>
            <key>player_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,975},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>player_info_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,375},{341,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,162}}</string>
                <key>sourceSize</key>
                <string>{341,162}</string>
            </dict>
            <key>player_info_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,541},{341,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,162}}</string>
                <key>sourceSize</key>
                <string>{341,162}</string>
            </dict>
            <key>rich_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,255},{580,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,70}}</string>
                <key>sourceSize</key>
                <string>{580,70}</string>
            </dict>
            <key>rich_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,859},{168,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,50}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>room_type_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,959},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>room_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,931},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>room_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,903},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>room_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,875},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>room_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,847},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>room_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,937},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>seat_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,621},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>seat_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,539},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shop_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,327},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>shop_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,679},{60,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,24}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
            <key>shop_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,329},{148,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,40}}</string>
                <key>sourceSize</key>
                <string>{148,40}</string>
            </dict>
            <key>slot_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,575},{116,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,24}}</string>
                <key>sourceSize</key>
                <string>{116,24}</string>
            </dict>
            <key>table_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,773},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>task_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,859},{168,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,50}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,943},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>text_silence.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,911},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
            <key>text_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,977},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text_0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe47426b87f0a10a1f954f97e57ebc46$</string>
            <key>textureFileName</key>
            <string>text_0.png</string>
        </dict>
    </dict>
</plist>
