<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Advertising_0_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,661},{440,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,110}}</string>
                <key>sourceSize</key>
                <string>{440,110}</string>
            </dict>
            <key>help_baccarat.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1},{496,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,306}}</string>
                <key>sourceSize</key>
                <string>{496,306}</string>
            </dict>
            <key>help_chips_limit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,773},{122,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,220}}</string>
                <key>sourceSize</key>
                <string>{122,220}</string>
            </dict>
            <key>help_chips_limit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,773},{110,196}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{110,196}}</string>
                <key>sourceSize</key>
                <string>{122,220}</string>
            </dict>
            <key>help_chips_limit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,773},{118,196}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{118,196}}</string>
                <key>sourceSize</key>
                <string>{122,220}</string>
            </dict>
            <key>help_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{498,1012}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{498,1012}}</string>
                <key>sourceSize</key>
                <string>{512,1024}</string>
            </dict>
            <key>help_keno.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,309},{490,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,350}}</string>
                <key>sourceSize</key>
                <string>{490,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text_help.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cea718f33cbf902eb3913e04d4ceb72e$</string>
            <key>textureFileName</key>
            <string>text_help.png</string>
        </dict>
    </dict>
</plist>
