<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert_board2_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,85},{8,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,1}}</string>
                <key>sourceSize</key>
                <string>{8,1}</string>
            </dict>
            <key>alert_board2_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,95},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>alert_board2_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,115},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_board2_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,75},{1,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,8}}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>alert_board_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,85},{8,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,1}}</string>
                <key>sourceSize</key>
                <string>{8,1}</string>
            </dict>
            <key>alert_board_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,105},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>alert_board_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,121},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_board_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,75},{1,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,8}}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>alert_btn_0_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,89},{1,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,10}}</string>
                <key>sourceSize</key>
                <string>{1,10}</string>
            </dict>
            <key>alert_btn_0_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,85},{8,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,1}}</string>
                <key>sourceSize</key>
                <string>{8,1}</string>
            </dict>
            <key>alert_btn_0_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,83},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>alert_btn_0_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,95},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>alert_btn_0_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,118},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_btn_0_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,92},{1,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,10}}</string>
                <key>sourceSize</key>
                <string>{1,10}</string>
            </dict>
            <key>alert_btn_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,95},{1,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,10}}</string>
                <key>sourceSize</key>
                <string>{1,10}</string>
            </dict>
            <key>alert_btn_1_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,88},{8,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,1}}</string>
                <key>sourceSize</key>
                <string>{8,1}</string>
            </dict>
            <key>alert_btn_1_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,108},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>alert_btn_1_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,71},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>alert_btn_1_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,115},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_btn_1_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,107},{1,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,10}}</string>
                <key>sourceSize</key>
                <string>{1,10}</string>
            </dict>
            <key>alert_btn_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,126},{1,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,10}}</string>
                <key>sourceSize</key>
                <string>{1,10}</string>
            </dict>
            <key>alert_btn_2_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,88},{8,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,1}}</string>
                <key>sourceSize</key>
                <string>{8,1}</string>
            </dict>
            <key>alert_btn_2_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,59},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>alert_btn_2_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,47},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>alert_btn_2_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,118},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_btn_2_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,107},{1,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,10}}</string>
                <key>sourceSize</key>
                <string>{1,10}</string>
            </dict>
            <key>alert_btn_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,123},{1,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,10}}</string>
                <key>sourceSize</key>
                <string>{1,10}</string>
            </dict>
            <key>alert_btn_3_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,85},{8,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,1}}</string>
                <key>sourceSize</key>
                <string>{8,1}</string>
            </dict>
            <key>alert_btn_3_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,37},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>alert_btn_3_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,37},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>alert_btn_3_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,118},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_btn_3_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,120},{1,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,10}}</string>
                <key>sourceSize</key>
                <string>{1,10}</string>
            </dict>
            <key>alert_event_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,120},{1,4}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{1,4}}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>alert_event_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,89},{4,1}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,1}}</string>
                <key>sourceSize</key>
                <string>{8,1}</string>
            </dict>
            <key>alert_event_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,85},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>alert_event_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,75},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>alert_event_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{-2,-2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-2,-2}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_event_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,58},{4,1}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{4,1}}</string>
                <key>sourceSize</key>
                <string>{8,1}</string>
            </dict>
            <key>alert_event_rb.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,75},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>alert_event_rt.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,75},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>alert_event_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,120},{1,4}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,4}}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>alert_frame_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,95},{11,1}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,1}}</string>
                <key>sourceSize</key>
                <string>{13,1}</string>
            </dict>
            <key>alert_frame_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,47},{11,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>alert_frame_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,115},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_frame_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,74},{1,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,13}}</string>
                <key>sourceSize</key>
                <string>{1,13}</string>
            </dict>
            <key>alert_input_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,37},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>alert_input_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,71},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>alert_input_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,123},{4,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,20}}</string>
                <key>sourceSize</key>
                <string>{4,20}</string>
            </dict>
            <key>alert_prompt_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,77},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>alert_prompt_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,126},{1,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,10}}</string>
                <key>sourceSize</key>
                <string>{1,10}</string>
            </dict>
            <key>alert_prompt_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,55},{6,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,1}}</string>
                <key>sourceSize</key>
                <string>{6,1}</string>
            </dict>
            <key>alert_prompt_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,37},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>alert_prompt_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,49},{6,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,4}}</string>
                <key>sourceSize</key>
                <string>{6,4}</string>
            </dict>
            <key>alert_prompt_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,115},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>alert_prompt_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,92},{1,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,4}}</string>
                <key>sourceSize</key>
                <string>{1,4}</string>
            </dict>
            <key>alert_title_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{5,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,32}}</string>
                <key>sourceSize</key>
                <string>{5,32}</string>
            </dict>
            <key>alert_title_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,93},{1,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,32}}</string>
                <key>sourceSize</key>
                <string>{1,32}</string>
            </dict>
            <key>cancel_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,47},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>cancel_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>chips_carry_bar_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,73},{14,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{14,18}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>chips_carry_bar_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,74},{1,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1,18}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>chips_carry_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,47},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>chips_carry_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,65},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>confirm_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,1},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>confirm_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,37},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>notice_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,93},{28,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>notice_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,68},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>notification_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,61},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>notification_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,62},{1,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,20}}</string>
                <key>sourceSize</key>
                <string>{1,20}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,121},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alert.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b391c1f85260f2e8c3682e62527f1731$</string>
            <key>textureFileName</key>
            <string>alert.png</string>
        </dict>
    </dict>
</plist>
