<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,153},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{10,14}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,83},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,97},{10,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,103},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,147},{8,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,151},{8,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,147},{8,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,141},{8,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,131},{8,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,121},{8,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,103},{8,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,97},{8,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,153},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,125},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>button_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1},{80,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>button_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{80,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>card_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,33},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>card_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,33},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>card_back_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,83},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>card_back_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,115},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>card_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>card_face_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,65},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>card_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,99},{46,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>club_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,33},{30,30}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>club_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,167},{12,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{12,12}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>diamond_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,33},{22,32}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{22,32}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>diamond_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,163},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>heart_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,67},{26,28}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{26,28}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>heart_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,167},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{10,12}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,163},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{10,14}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,103},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,83},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,83},{10,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{10,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,163},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,157},{8,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,157},{8,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,161},{8,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,157},{8,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,163},{8,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,153},{8,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,147},{8,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,147},{8,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>rj.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,121},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>rk.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,83},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>rq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,201},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>spade_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1},{24,30}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{24,30}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>spade_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,169},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>vip_card_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,51},{46,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a36c23437d06a12e99085f811a7cceac$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
