<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drink_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,43},{34,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,107},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1},{40,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,41},{40,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,77},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,135},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,137},{14,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{14,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,153},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,77},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,1},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{26,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{24,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{24,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,157},{34,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,113},{22,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{22,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,111},{22,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{22,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,39},{36,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,159},{30,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{30,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drink_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{20,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drink.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:242419bde8d067ac34f691deb80cb35e$</string>
            <key>textureFileName</key>
            <string>drink.png</string>
        </dict>
    </dict>
</plist>
