<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Baccarat_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,35},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>Baccarat_help_bottom_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,95},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Baccarat_help_bottom_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,57},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>bacc_10000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,179},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_10000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,155},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_10000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,133},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_1000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,249},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_1000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,271},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_1000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,247},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_100_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,383},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_100_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,383},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_100_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,455},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_10_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,361},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_10_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,339},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_10_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,295},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_50000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,109},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_50000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,57},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_50000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,293},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_5000_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,203},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_5000_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,225},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_5000_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,201},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_500_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,405},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_500_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,467},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_500_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,417},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_50_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,317},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_50_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,87},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_50_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,339},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>bacc_area_1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,378},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>bacc_area_1_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,243},{133,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>bacc_area_2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1},{133,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,54}}</string>
                <key>sourceSize</key>
                <string>{133,54}</string>
            </dict>
            <key>bacc_area_2_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1},{133,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,54}}</string>
                <key>sourceSize</key>
                <string>{133,54}</string>
            </dict>
            <key>bacc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,240}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>bacc_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,509},{40,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,1}}</string>
                <key>sourceSize</key>
                <string>{40,1}</string>
            </dict>
            <key>bacc_chips_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,136},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>bacc_colon.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,383},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,18}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>bacc_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,509},{1,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,26}}</string>
                <key>sourceSize</key>
                <string>{1,26}</string>
            </dict>
            <key>bacc_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,243},{138,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,60}}</string>
                <key>sourceSize</key>
                <string>{138,60}</string>
            </dict>
            <key>free_chips_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,243},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>free_chips_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>keno_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,383},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,87},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,230},{10,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,230},{10,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,383},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,378},{10,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,111},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,103},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,99},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,87},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>keno_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,383},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>keno_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,243},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,12}}</string>
                <key>sourceSize</key>
                <string>{148,12}</string>
            </dict>
            <key>keno_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,393},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>keno_bet_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{70,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
            <key>keno_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,137},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>keno_btn_bet_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,213},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>keno_btn_bet_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,155},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>keno_btn_bet_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,213},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>keno_btn_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,109},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,186},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_n_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,243},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_n_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,299},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_p_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,299},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_p_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,57},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_p_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,136},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>keno_btn_s_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,433},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>keno_btn_s_n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,427},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>keno_btn_s_n_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,427},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>keno_btn_s_p_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,383},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>keno_btn_s_p_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,467},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>keno_cycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,349},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>keno_global_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,243},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>keno_global_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,55},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>keno_global_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>keno_hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,399},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>keno_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,378},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{32,12}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>keno_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{157,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,98}}</string>
                <key>sourceSize</key>
                <string>{157,98}</string>
            </dict>
            <key>slot_jp_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,399},{108,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{108,56}}</string>
                <key>sourceSize</key>
                <string>{114,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>keno.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd21889de04d9d126638b536097e6f40$</string>
            <key>textureFileName</key>
            <string>keno.png</string>
        </dict>
    </dict>
</plist>
