<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bonus_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,453},{54,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Bonus_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,453},{54,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Exchange_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,395},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Exchange_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,337},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,295},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>fast_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,383},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>fast_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,367},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>fast_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,351},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>fast_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,335},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>help_arrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,249},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>help_company.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,295},{88,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,40}}</string>
                <key>sourceSize</key>
                <string>{90,42}</string>
            </dict>
            <key>help_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,249},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>help_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{204,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,398}}</string>
                <key>sourceSize</key>
                <string>{204,398}</string>
            </dict>
            <key>help_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,453},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>opponent_frame_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,441},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{82,62}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>player_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,441},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>rich_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,337},{60,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>rich_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,403},{60,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>room_2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{144,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,84}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>room_2_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,87},{144,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,84}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>room_3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,173},{144,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,84}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>room_3_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1},{144,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,84}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>room_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,87},{142,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{142,82}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>shop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,219},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,259},{12,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,195},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>shop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,171},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>shop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,423},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>shop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,399},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>shop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,249},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>shop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,483},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>shop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,459},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>shop_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,469},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>shop_bar_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,171},{130,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,76}}</string>
                <key>sourceSize</key>
                <string>{130,76}</string>
            </dict>
            <key>shop_bar_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,259},{130,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,76}}</string>
                <key>sourceSize</key>
                <string>{130,76}</string>
            </dict>
            <key>shop_chips_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,453},{46,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{46,32}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>shop_chips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,397},{60,24}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,24}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>shop_chips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,421},{60,24}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,24}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>shop_chips_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,421},{60,24}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,24}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>shop_chips_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,469},{60,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>shop_chips_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,335},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>shop_currency_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,61},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>shop_currency_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,87},{14,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>shop_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,337},{110,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,50}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>shop_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,505},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>shop_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1},{58,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,12}}</string>
                <key>sourceSize</key>
                <string>{58,12}</string>
            </dict>
            <key>win_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,493},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>win_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,401},{192,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,38}}</string>
                <key>sourceSize</key>
                <string>{192,38}</string>
            </dict>
            <key>win_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,389},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_shop.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bffac0c0a63e1d8f0652d8ac4a38379$</string>
            <key>textureFileName</key>
            <string>ui_shop.png</string>
        </dict>
    </dict>
</plist>
