<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>curtain.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,131},{180,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,144}}</string>
                <key>sourceSize</key>
                <string>{180,146}</string>
            </dict>
            <key>slot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,479},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>slot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,435},{14,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>slot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,331},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>slot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,307},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>slot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,283},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>slot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,259},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>slot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,235},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>slot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,211},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>slot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,187},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>slot_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,163},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>slot_bet_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,297},{1,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,8}}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>slot_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1},{160,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,118}</string>
            </dict>
            <key>slot_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,172}}</string>
                <key>sourceSize</key>
                <string>{180,172}</string>
            </dict>
            <key>slot_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{128,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,210}}</string>
                <key>sourceSize</key>
                <string>{128,210}</string>
            </dict>
            <key>slot_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,163},{180,99}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,99}}</string>
                <key>sourceSize</key>
                <string>{180,109}</string>
            </dict>
            <key>slot_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,131},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>slot_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,451},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>slot_jp_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,277},{228,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,70}}</string>
                <key>sourceSize</key>
                <string>{228,70}</string>
            </dict>
            <key>slot_jp_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,277},{228,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,70}}</string>
                <key>sourceSize</key>
                <string>{228,70}</string>
            </dict>
            <key>slot_light_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,225},{70,2}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{70,2}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>slot_light_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,277},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>slot_odds_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,313},{72,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>slot_poll.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,387},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>slot_poll_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,225},{20,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,86}}</string>
                <key>sourceSize</key>
                <string>{20,86}</string>
            </dict>
            <key>slot_shadow_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,281},{72,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,51}}</string>
                <key>sourceSize</key>
                <string>{74,51}</string>
            </dict>
            <key>slot_shadow_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,387},{74,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,51}}</string>
                <key>sourceSize</key>
                <string>{74,51}</string>
            </dict>
            <key>slot_win_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,355},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>slots_arrows_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,193},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>slots_arrows_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,175},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>slots_button_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,463},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>slots_button_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,361},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>slots_item_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,413},{64,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{64,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,395},{54,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{54,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_item_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,281},{56,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{56,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_item_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,281},{68,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{68,24}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,392},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{54,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,339},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{54,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,334},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{58,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,351},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{46,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,451},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,387},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,345},{62,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{62,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,435},{62,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{62,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>slots_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{168,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,104}}</string>
                <key>sourceSize</key>
                <string>{168,104}</string>
            </dict>
            <key>slots_small_item_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,451},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{32,22}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>slots_small_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,479},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>slots_small_item_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,472},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>slots_small_item_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,211},{18,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{18,8}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>slots_small_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,472},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>slots_small_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,454},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>slots_small_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,454},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>slots_small_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,499},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{12,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>slots_small_item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,454},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>slots_small_item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,481},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>slots_small_item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,499},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>slots_small_item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,231},{18,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{18,6}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f90e81424fa81b0ae041e11fd38f3a0$</string>
            <key>textureFileName</key>
            <string>slot.png</string>
        </dict>
    </dict>
</plist>
