<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,349},{266,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,44}}</string>
                <key>sourceSize</key>
                <string>{266,44}</string>
            </dict>
            <key>all_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,489},{42,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>baccarat_tag_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,491},{77,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>baccarat_tag_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,169},{77,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>baccarat_tag_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,491},{77,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>bank_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,275},{168,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,72}}</string>
                <key>sourceSize</key>
                <string>{168,72}</string>
            </dict>
            <key>bank_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,358},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>bank_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,275},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>bank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,145},{68,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,18}}</string>
                <key>sourceSize</key>
                <string>{68,18}</string>
            </dict>
            <key>bonus_card_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,85},{126,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,82}}</string>
                <key>sourceSize</key>
                <string>{126,82}</string>
            </dict>
            <key>bonus_card_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1},{126,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,82}}</string>
                <key>sourceSize</key>
                <string>{126,82}</string>
            </dict>
            <key>bonus_today.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,105},{80,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,12}}</string>
                <key>sourceSize</key>
                <string>{80,12}</string>
            </dict>
            <key>btn_action_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1},{106,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,38}}</string>
                <key>sourceSize</key>
                <string>{106,38}</string>
            </dict>
            <key>btn_action_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,435},{106,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,38}}</string>
                <key>sourceSize</key>
                <string>{106,38}</string>
            </dict>
            <key>btn_auto_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,105},{36,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>btn_call_any.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,65},{36,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>btn_call_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,161},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>btn_check_discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,65},{36,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>btn_check_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,145},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>btn_confirm_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,129},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>btn_discard_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,113},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>btn_fill_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,97},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>btn_game_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,395},{106,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,38}}</string>
                <key>sourceSize</key>
                <string>{106,38}</string>
            </dict>
            <key>btn_game_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,435},{106,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,38}}</string>
                <key>sourceSize</key>
                <string>{106,38}</string>
            </dict>
            <key>btn_hold.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,213},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>btn_option_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,395},{106,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,38}}</string>
                <key>sourceSize</key>
                <string>{106,38}</string>
            </dict>
            <key>btn_option_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,399},{106,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,38}}</string>
                <key>sourceSize</key>
                <string>{106,38}</string>
            </dict>
            <key>btn_reday.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,197},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>bug_feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,119},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>bug_feedback_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,439},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>bug_feedback_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,441},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>chips_carry.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,29},{68,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,18}}</string>
                <key>sourceSize</key>
                <string>{68,18}</string>
            </dict>
            <key>edit_info_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1},{69,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,26}}</string>
                <key>sourceSize</key>
                <string>{69,26}</string>
            </dict>
            <key>edit_info_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,51},{69,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,26}}</string>
                <key>sourceSize</key>
                <string>{69,26}</string>
            </dict>
            <key>entry_fee_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,181},{40,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,14}}</string>
                <key>sourceSize</key>
                <string>{40,14}</string>
            </dict>
            <key>event_state_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,163},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>event_state_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,191},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>event_state_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,79},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>event_state_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,79},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>event_title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,217},{54,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,16}}</string>
                <key>sourceSize</key>
                <string>{54,16}</string>
            </dict>
            <key>event_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,145},{78,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,16}}</string>
                <key>sourceSize</key>
                <string>{78,16}</string>
            </dict>
            <key>event_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,79},{50,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,16}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>evn_setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,165},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>evn_setup_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,349},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>evn_setup_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,441},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,91},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>exchange_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{126,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,82}}</string>
                <key>sourceSize</key>
                <string>{126,82}</string>
            </dict>
            <key>exchange_col_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,163},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>exchange_col_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,189},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>exchange_col_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,119},{52,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,16}}</string>
                <key>sourceSize</key>
                <string>{52,16}</string>
            </dict>
            <key>exchange_col_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,59},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>exchange_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,241},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>exchange_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,241},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>exchange_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,241},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>fast_Match.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,33},{56,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,16}}</string>
                <key>sourceSize</key>
                <string>{56,16}</string>
            </dict>
            <key>fast_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,15},{56,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,16}}</string>
                <key>sourceSize</key>
                <string>{56,16}</string>
            </dict>
            <key>free_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,491},{84,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,20}}</string>
                <key>sourceSize</key>
                <string>{84,20}</string>
            </dict>
            <key>game_back_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,399},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,40}</string>
            </dict>
            <key>game_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,399},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,40}</string>
            </dict>
            <key>game_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,119},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>game_help_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,349},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>game_help_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,191},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>get_chips_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,96},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>get_chips_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>help_game_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,333},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,14}</string>
            </dict>
            <key>help_rule_decl.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,333},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,14}</string>
            </dict>
            <key>keno_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,333},{62,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,14}}</string>
                <key>sourceSize</key>
                <string>{62,14}</string>
            </dict>
            <key>logo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1},{170,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,26}}</string>
                <key>sourceSize</key>
                <string>{170,26}</string>
            </dict>
            <key>max_chips_carry.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,333},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,14}</string>
            </dict>
            <key>menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,29},{72,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,20}}</string>
                <key>sourceSize</key>
                <string>{72,20}</string>
            </dict>
            <key>menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,23},{72,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,20}}</string>
                <key>sourceSize</key>
                <string>{72,20}</string>
            </dict>
            <key>menu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1},{72,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,20}}</string>
                <key>sourceSize</key>
                <string>{72,20}</string>
            </dict>
            <key>menu_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,489},{72,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,20}}</string>
                <key>sourceSize</key>
                <string>{72,20}</string>
            </dict>
            <key>mini_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,287},{266,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,44}}</string>
                <key>sourceSize</key>
                <string>{266,44}</string>
            </dict>
            <key>object_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,169},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>option_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,241},{266,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,44}}</string>
                <key>sourceSize</key>
                <string>{266,44}</string>
            </dict>
            <key>player_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>player_info_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,191},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>player_info_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,441},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>rich_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,475},{290,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,36}}</string>
                <key>sourceSize</key>
                <string>{290,36}</string>
            </dict>
            <key>rich_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>room_type_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,223},{44,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{44,14}</string>
            </dict>
            <key>room_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,207},{44,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{44,14}</string>
            </dict>
            <key>room_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,43},{44,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{44,14}</string>
            </dict>
            <key>room_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,27},{44,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{44,14}</string>
            </dict>
            <key>room_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,333},{44,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{44,14}</string>
            </dict>
            <key>room_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,49},{40,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,14}}</string>
                <key>sourceSize</key>
                <string>{40,14}</string>
            </dict>
            <key>seat_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,399},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>seat_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,399},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>shop_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,29},{38,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>shop_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{30,12}</string>
            </dict>
            <key>shop_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,491},{74,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,20}}</string>
                <key>sourceSize</key>
                <string>{74,20}</string>
            </dict>
            <key>slot_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1},{58,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,12}}</string>
                <key>sourceSize</key>
                <string>{58,12}</string>
            </dict>
            <key>table_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,51},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>task_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,33},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>text_silence.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,145},{55,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,16}}</string>
                <key>sourceSize</key>
                <string>{55,16}</string>
            </dict>
            <key>text_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,15},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text_0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35634502d5965ef281180c2bed6af2b2$</string>
            <key>textureFileName</key>
            <string>text_0.png</string>
        </dict>
    </dict>
</plist>
